<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>商务</key>
	<string>商务礼仪

商务礼仪是商务人员与客户交往的行为规范。礼仪是一门综合性较强的行为科学，是指在人际交往中，自始至终地以一定的、约定俗成的程序、方式来表现的律己、敬人的完整行为。由于地区和历史的原因，各地区、各民族对于礼仪的认识各有差异。在长期的国际往来中，逐步形成了外事礼仪规范，也叫涉外礼仪。
商务口才

为了提高商务社交口才，要注视取得听众对你的持久注意力。注意说话的重点，当说到重点时，可着重强调，不要模棱两可，避免攻击性言辞。
社交口才的训练方式：
（1）倾泻式
这是最强烈的感情和思想的交流方式，它以对听众最大信赖为基础，将自己的欣喜、烦恼、怨恨以及打算、宏图统统告诉对方，让他帮助、评判和选择。
（2）交流式
抓住对方谈话时的间隙，恰如其分地表述你的看法，促进思想沟通。注意不要粗暴地打断对方的话或不负责任地妄加评论。
（3）跳跃式
有时交谈双方要善于转换话题。通过不断地跳跃，转入要谈的话题。态度要柔和，让对方感到自然。
（4）启发式
对那些拙于领会的人，要循循善诱，从多方面进行启发。字句要妥帖、婉转，不能简单生硬。</string>
    
    <key>购物</key>
    <string>1. 货币的换算
        
国外购物应注意标价是美元或当地货币，且严防买到冒牌货。购物以实用、需要为购物之考虑，避免大肆采购，以免回国入境时被海关扣税。
        
2. 免税节税
        
购物保留收据。某些国家购买一定金额以上物品时，可获免税或退税优待。笨重及大型物品，可请店方代为邮寄或货运。
        
3. 景区商品慎重买
        
在旅游中尽量少买东西，旅游区一般物价较高，而且买了东西还不便旅行。根据笔者多年的经验，一些旅游区针对顾客流动性大的特点，出售的贵重物品时有假冒商品，而真正体现该地区人文、历史风情的物品，未必会在景区里出售。此外，旅途中必备的物品，如胶卷等最好提前准备好，免得临时抱佛脚，买了质次价高的物件。
        
4. 小心利诱游说手法
        
请小心个别不良商店采用利诱手法促销，此种不诚实的销售手段，目的是游说消费者改变购买决定，改买该店推销的其它货品 ，从而获取利益。为保障自己，宜选择明码实价的商店，并先行比较市场价格、了解商品特点、查明售价包括的配件，再检查商品完整无缺，方才购买。
        
5. 带备信用卡购物
        
不少的购物点都接纳信用卡付款，旅客可带信用卡以作不时之需。如在外地遗失卡片，请直接致电发卡行作报失。旅程完结后，再办理有关书面手续。</string>
	<key>公路</key>
    <string>出发：
1、出发前请务必检查好随车证件(带上购置税证)和个人证件。买一本最新出版的交通图，在图上标明自己将要走的路线。标出路过的城市，选好休息和加油的地方。
2、向老司机或者在网上询问将要跑的这些路的路况，做到心里有数。
3、准备好路上的应急食物，尤其是要多买些巧克力，因为巧克力是高热量食物。水是必备的，特别是纯净水，不但人喝，车子有的时候也要使用。比如发动机冷却水缺乏，纯净水可以应急。长距离下坡刹车过热，可以使用纯净水降温等。
4、准备个小药箱，把退烧、痢疾、感冒的药准备些。最好有个急救包，预防意外伤害。
5、准备帐篷等野营需要的东西，预备一些自己喜欢的光盘，路上听自己喜欢的乐曲可以消除旅途寂寞和疲劳。准备好照相机和足量的胶卷，不要在景区购买胶卷，数码相机和手机不要忘带充电器。相机手机等贵重物品最好自备可密封的胶袋、防潮袋以防万一。
6、如果是车队最好购买对讲机，不但可以节约很多手机费用，而且到了手机没有信号的地方对讲机就显的特别重要。如果车队的车超过6辆，就把车队分组。每3辆1组。这样即可以方便驾驶，还可以有效地防止追尾。
7、最好随身携带好钱和身份证、驾驶证、行车证等人和车的证件。手袋、行包等行李及贵重物品在离车时切勿放在车外可观察到的地方，以免引贼。
8、带上一个笔记本，坐在副驾驶位置的人负责记录一路上油耗、路况以及发生的有趣事情。如果走高速记录出口处和服务区的公里数，以便下次行走和帮助朋友和网友。
9、最重要的是把自己的车彻底的检测一下，常规检查机油、冷却液、助力油、玻璃水，重点检查轮胎、备胎胎压和轮胎磨损是不是正常，轮胎上有没有扎钉子。看看千斤顶和更换轮胎的工具是不是在车上，带一个轮胎充气泵也许有用处。有可能的话去4S店使用计算机检查一下发动机、刹车、ABS和电路情况。
10、注意安全行驶。由于节假日各单位大都放假，因此路面车辆比较少，在宽阔的路面上很容易剌激血气方刚的中青年人开快车，将车开到很高速度，在我国当前的道路状况下这样做是很不安全的，尤其是行驶自己不熟悉的路面更是危险。因此要注意掌握行驶速度，与前车要保持一定距离，停车或缓行一定要靠右边，注意观察周围路面动态，不可忘乎所以。
11、备足零钞。到外地自驾汽车旅游，买路费、过桥费、停车费等杂费是随时随地要用的，最好备足10元以下的零钞，这样做既为自己方便也为他人方便。

车队行走：
1、出发前对车队进行编号，在行车途中基本按编号顺序行驶。
2、在通过收费站或红灯路口，各车辆分散排队以节省通过时间，通过收费站后车队慢驶或靠边暂停以便整理队形。
3、加油要特别注意，必须在大地方的正规加油站，不要贪图便宜在小地方加油。一次我的朋友我山西运城的一个小加油站加油，没有跑100公里油管堵塞车坏在了高速公里上，一切计划就泡汤了。
4、车队行驶中注意保持适当距离，切勿跟车太近。在车队超越慢车时，已通过的车辆负责为自己的后车报告前方路况并引导后车超越，在未明确前方路况时，切勿强行超车。
5、车队根据行驶情况在途中选择适当地点临时休息，各车主负责照顾本车乘员的情况。如遇塞车、问路等临时停车，各乘员尽量不要离车。
6、在外地如发生碰擦等意外情况，务必保持克制、冷静，避免激化。如行车中伤及路面的家禽家畜，一般情况下车队应保持全速通过，不要立即下车查看。

通讯：
1.车队行驶中通过手机保持联络，请勿使用手机播放音乐或长时间按发射键聊天。
2.行驶途中如发现异常情况或有需要临时停车请立即通过手机通报。
3.到达住宿地点请注意及时充电。
二、车辆驾驶注意事项
自驾游要玩得安全、开心，人的因素比车更重要。
1、每天出发前检查车辆。每天出发前，要对车辆进行一次全面的检查，包括有无漏油漏水情况(看看车底地面有无油污水痕)；测量胎压，看看轮胎的气压是否合适；检查机油状况(抽出机油尺，看看上面机油的颜色是否正常，机油高度是否合适)；别忘了检查备胎是否完好等等，起步之后，先挂二挡低速行驶，踩刹车检查一下刹车是否正常工作，确认一切正常才可以转入正常行驶。
2、及时加油。跑长途前要将车加满油，途中当油量少于一半时就该到途经的大油站加油了，不要等燃油灯亮了再找油站，这样会很被动的。
3、严防疲劳驾驶。长途驾驶，首先应该避免疲劳驾驶。疲劳驾驶是造成意外的主要原因之一。有副驾驶的，每2小时轮换一次为佳，如果感到倦困之时，应该停车小歇片刻，千万不要勉强赶路。
4、高速行驶爆胎所造成的交通事故是最频繁、危险性也是最高的，所以，在出行前，一定要检查一下轮胎表面的磨损情况，看一下表面是否有鼓包裂口，是否有钝器造成的硬伤，如果存在这类情况，就要在出行前进行一下修补、保养。有条件的话，最好能够拆下轮胎检查一下轮胎内侧有无伤口，因为藏在内侧的伤口常常是事故的罪魁祸首。如果实在没有时间进行细致的轮胎检测更换，至少要把有问题的轮胎换到后轮，最大限度地降低事故的发生。
5、注意使用安全带。安全带在汽车发生猛烈撞击的时候，带给您的保护作用有时候不亚于安全气囊。不要疲劳驾驶，每2小时要休息一会。
6、儿童尽量坐后座。长途驾驶时，儿童不要被单独安排坐在前座上。因为许多车在副驾驶位置都设置了安全气囊，气囊弹出时的冲击力极大，它虽可以保障成人安全，但却会给小朋友带来意外伤害。
7、香瓶及各种玻璃、金属质地的摆件不要粘放在副驾驶前方仪表台上，建议您将它们安置在正副驾驶中间的仪表台位置上，做到既美观又安全。
遵守交通规则。特别是在高速公路上，不要超速驾驶，因为我国高速公路是按照一定车速标准设计的，超速不但可能被交警处罚，更重要的是不安全，统计数据表明，如果在车速150km/h以上发生爆胎事故时，发生死亡事故的几率相当高！
8、不可急刹车。冬季行车，有可能遇到结冰湿滑路面，此时要靠挡位和发动机制动来减缓车速，不可踩急刹车，如是四驱车，则应挂上四驱，这样可以大大减少因四轮打滑而造成车辆失控的危险。
特别提示：如遇积雪结冰路面，驱动轮上安装防滑链是有效的安全防范措施。
9、注意急弯。山道驾驶，往往弯多且急，此时切不可在弯道超车或在不清前方有无来车的情况下占道过弯，过弯前要减速鸣笛。要注意的是，有些车友在过弯时喜欢切线过弯，但在山路行驶时，千万不要切到对面的来车道！
特别提示：在北方山区，往往出现山阴面的路面长期积雪结冰的情况，也就是山阳面路面情况良好，但过弯后路面突然变坏的情况，这时如果高速驶入就很容易发生打滑失控的危险，所以一定要控制车速。
10、靠边行驶。在狭窄崖边山路行驶时，切忌靠山边行驶，因为崖路边沿随时有坍塌的可能，比较危险。而如果是车队通过落石区时，应该拉开30-40米的距离通行，期间尽量不要按喇叭和猛轰油门，以免引发落石。
11、不要挂空挡滑行。去西南、西北地区的车友，常常会遇到上下长坡的情况。上长坡时，因注意及时降挡以避免发动机输出扭矩不足；在下长坡时要注意避免发生刹车皮因长时间使用导致过热失效，所以应尽可能用挡位来限制车速手挡车可以用挂入低挡，利用发动机制动来避免车速过高，绝对不要挂空挡滑行；自动挡车则可通过挂如D2、D1挡起到相同作用，如仍需长时间踩刹车，则应行驶一段距离后停车让制动系统冷却后再前进。
12、不要开斗气车。任何时刻都不开英雄车和斗气车、特别是避免和当地车辆斗气，礼貌行车，心平气和地驾驶车辆，可以减少意外发生的机会。
13、尽量避免夜间行车。如确需夜间行车，要特别注意下面几点：
A：旅途夜间行车要注意从左侧横过马路的行人，常常有行人从车队的车缝中间跑出来自左向右穿越马路，这时如遇对面车开远光灯，司机很难在远处就发现。
B：会车时主动转近光灯，不要用远光灯照射对面来车，如果自己被来车远光灯照射而无法看清路面情况时，要停车等待能看清路面情况再继续前进。
C：夜间由于视野受限，无法像白天一样观察整个道路及周边环境，因此一定要限速行驶。
14、小心涉水。如遇道路遭水浸情况时，要了解水深情况和水底路况后，看是否超出车辆的通行能力，一般地，对轿车来说，水深超过汽车轮胎高度一半时，不宜冒险涉水。涉水时，应挂低速挡，使车从岸上平稳地驶入水中，以免水花溅起。在行驶中要保持发动机有足够的动力，避免中途停车、换挡或急打方向盘。上岸后，低速行驶一段路程，并轻踏几次制动踏板，让制动蹄片与制动鼓发生摩擦，使附着的水分受热蒸发，待制动效能恢复后，再转入正常行驶。
15、小心陷车。如果开车到河滩和海滩时，要小心出现陷车意外，特别是在开车上海滩时，要了解当地潮汐情况，否则水淹三军就可能发生。

自驾游的驾驶技巧：
1、冬天里的落地雪是造成车祸最多的时候。雪地平路要连续点刹，下坡路要用低挡，上坡路最好不要停，以防不能起步。正常行使可以适当拖挡（低速高挡），增加前进阻力。后轮左右甩时要向甩动方向打方向盘。
2、如遇见前面同方向有个大车（满载）不给你让路、紧跟其后，找准机会，超过它。
3、如果车行使在野外没油了，拦一辆大车，从他的车里用管吸出几升油即可，70号油不要紧。不要拦小车，一般小车是不能抽油的。
4、连续下山，刹车片过热引起制动不灵，停车等待自然冷却。千万不要用水冷却。
5、如果是后半夜行车，会车时要连续变换远近光灯，提醒对方注意，对方有可能在打磕睡。对方远光灯不关，一定要提前减速，预防同方向的拖拉机等不明物。
6、白天在山路弯道行使，一定要行驶在自己的车道（看不见对面的情况），高速下坡转弯时，一定要提前减速。
7、野外临时停车不要停在转弯处。某一方向视线不好、大坡度、有可疑人逗留、或者其他你感觉不稳当的地方都不要停车。
8、长时间开车（连续行使３小时以上），将驾驶座位向后调，最大限度为止，仰躺着开车以降低身体疲劳程度，养成这个习惯（身材矮小者不宜）。
9、下雨时一定要注意路滑，因为路面上有油污。路面聚积雨水过多时，不要加大油门冲水，以免影响制动和电气件进水，应低挡稳速行驶。

三、自驾游安全注意事项
1、建议新手不要租车自驾游.刚学会开车的本本族,对车不熟悉,容易出事.
2、路边或夜间停车时,务必检查门窗是否锁好;同时,贵重物品一律不要暴露和留在车内,以免引起路人忽起歹心，铤而走险。
3、尽量避免赶夜路。姑且不论发生拦抢的危险,夜间驾车的疲劳也容易发生大祸. 
4、跑远途时，要在出发前给油箱加满油；如果目的地比较偏僻，要考虑自备一些燃油。如果自备燃油，要选用全封闭、金属外壳的安全容器。 
5、远途开车，最好选一个懂得车辆基本修理技术的人同行；同时，如果有条件，最好两辆以上的车同行，可以彼此照应。 
6、每开2-3小时，最好停车休息一下，既可以避免疲劳驾驶危险，又能防止长时间驾驶对身体健康造成伤害；另外，也有利于缓解长途驾驶对车辆不见的疲劳损伤。 
7、不要随便搭乘陌生人，而且要在顺手的部位放上防身用具、灭火器、防盗锁，也可以预防不测。 
8、随身携带电话本，并在第一页上写明自己的姓名、单位、亲人及朋友的电话，万一发生意外时，抢救人员能及时和家人取得联系。 
9、控制车速。外出旅行行驶在空旷平直的大道上，人由于兴奋很容易发生超速从而导致危险。 
10、外出旅行有备足钱款，除了准备预计的开销钱款和携带信用卡外，务必额外准备一些现金，以备发生诸如剐蹭等小事故与人私了。</string>
	<key>城市</key>
    <string>了解一个城市跟了解一个人一样，把它们看作是有生命的东西，会很有意思。
了解的唯一方式就是不断地去跟它碰撞。包括景物，文化和人的碰撞。要增加碰撞有两个方式，一个是延长居住时间，一个是提高时间内发生的“碰撞”，如尽可能多走多看，和人交流。但有些发现是重复碰撞才有可能积累出来的。
读书，掌握关于它的信息是很好的辅助，然而只能是辅助，真正的了解来自亲身的体会。

我们了解一个城市会有几个阶段：

1，情人阶段 (1day - 1week)
阅读城市的历史，参观城市的景点和设施，听取它们的介绍。去这个城市有名的餐馆吃饭。
作为旅游者看到的是城市最好，最光鲜亮丽的一面。多是游玩心态，没有心理负担。如果用跟人的关系来比喻的话，可以说是跟一个美女共同度过一个美好的夜晚这样的感觉。你的心里可以留下关于她的最美好的回忆，但你不属于这个城市，城市也不属于你。

2，朋友阶段 (1week - 1 month)
你有相对固定的住所，在这里除了观光之外，有一段相对规律而枯燥的生活。你每天走过同一条路，发现了这条路清晨和夕阳下的样子。你开始注意那条斜街转角总有个流浪汉带着他的狗。
如果用跟人的关系来比喻，可谓是一般朋友的关系。你开始熟悉它，知道它的一些优点和缺点，但终归又是个短暂的外来者。离开之后一段时间，你仍可以说出它的一些情况，而不至于把细节忘得一干二净。

3，恋人阶段 (1 month - 1 year)
你的身体记忆住了从车站，到市中心，到住处，到许多地方的走法，或许你拥有一项交通工具在这里驰骋，走了那些旅游者不会去的地方。朋友来这里，你可以推荐几个好吃好玩的地儿，一般人不知道。你在这里有了可以无话不说的朋友，有了培养出感情的地方。你的人生不得不提到这一段在这里度过的时间才能完善。
这城市好像跟你谈过一段恋爱的男/女朋友，你留下了许多回忆，以至于离开了再来，会有一份怀念的感觉。


4，家人阶段 (1 year - forever)
它的光鲜亮丽，和不为人所知的阴暗你都知道；这里的人喜好什么，厌恶什么，有什么细小的动作，你也都知道，你甚至成了他们中的一员。但是喜欢不喜欢都无所谓了，因为它已经如此重要，你会觉得这是你的城市，你是它的人。你在这里爱过，恨过，和朋友放肆大笑过，也独自流过泪，你在这里成长，在这里有很多事情影响了你今后的道路。
或者，它就是你决定终生选择的那个地方。你默默的在心里把戒指给它戴上，也许是戴在它傲然屹立的优美的塔楼上，说，我愿意。</string>
	<key>高铁</key>
<string>火车是我国旅游的主要交通工具。它的特点是载客量大，车次准确，费用低廉，中途可以换乘、停留（在车票有效期内），具有一定的灵活性。此外，还有夜间行车的优越性。旅游者可以利用夜间行车的物点，在夜间赶路，既可节省时间又可节省住宿费，在途中得到休息。另外还可利用中转换乘的特点，在铁路沿线多游览几个地方。火车发行时刻是固定的，不受天气影响，便于我们掌握时间合理安排日程。
    乘火车应注意下列问题：
    
（1）购票

车票分三种：客票、加快票、卧铺票。旅客买加快票或卧铺票必须有软座或硬座客票。如果没有买到车票又急于上车时，可采取先上车后补票的方法加以补救。补票时，要核收补票费。如果买了票，未经检票就上了车，在查票时应罚交补检费。

（2）车票有效期

车票的有效期是按乘车里程计算的。300公里以内为两日，301公里以上，每增加500公里加一日，不足500公里的也按一日计算。改签后的客票、加快票提前乘车时，有效期从实际乘车日起计算；改换乘车时按原票指定乘车日起计算。旅客因病，在客票、加快票有效期内出示医疗证明或经车站证实时，可按实际医疗日数延长，但最多不能超过10天。恢复旅行时，仍按原票剩余有效时间计算。卧铺票不能延长，但可办退票手续。

（3）车票签证

旅客如不能按票面指定的日期和车次乘车时，在不延长客票、加快票有效期并在列国有能力的条件下，可办理一次提前或改晚乘车手续，但最迟不超过开车前2小时。卧铺票不办理改签。旅客在中转站换车和中途下车恢复旅行时，不论乘坐何种列车都应办理签证手续。

（4）行李

旅客携带品免费重量，大人20公斤、小孩10公斤。携带品的长度和体积要适于放在行李架上或座位下边。易爆易燃危险品、妨碍公共卫生及污染车辆的物品都不能带入车内。

（5）乘坐火车防盗忠告

在车上，不论是白天还是晚上，尤其是在夜间，要切记不可与不相识的人轮流睡觉、看包，不然，犯罪分子会顺手牵羊，盗走你放在行李架上的行李。

在列车靠站时，往往出现三多，即上下乘客多，找座位的人多，找行李架空地的多。此时要特别注意防范犯罪分子浑水摸鱼，留神看好自己的行李物品。不要佩戴金银首饰，很容易成为抢夺的对象。

在车上掏钱购物、买饭时，尤其是处在人挤人的情况下，不宜将自己的大把钞票露出来，如果钞票露出来被一些人看见，很容易被抢或被盗。

离座位上厕所、就餐、去会朋友，或去排队打开水，或是在停车时下车买东西吃，千万不可产生麻痹大意的思想，要密切防止行李被盗。切不可随便接过他人递过的饮料，尤其是已经打开封口的饮料。近来利用麻醉饮料犯罪的行动相当猖獗。

上车用包占座位时，或下车在窗口请人递包交接时，因人离包有时间之差，此时，人多物多又忙乱，要特别留心行李包被人提走或调包。

在车上要对那些坐立不安的人，对爱东张西望、瞄来瞄去的人，及装疯卖傻碰擦他人的人，都要注意严加防范，才可防盗。

（6）乘火车遇到问题投诉方法

人们外出旅游购票乘火车，一旦发生问题后，旅客应该向哪些部门投诉呢？投诉有关车站，要问清该站属于哪个铁路分局，铁路分局内有路风办公室、客运分处，可以向他们写信、打电话投诉，也可向该站所属市、县的消协、工商局物价部门投诉。投诉列车要首先弄明白它隶属于哪个铁路分局、哪个客运段，然后再寄信或打电话给该铁路分、市政府有关部门。在无法得知该站车属何铁路分局、路局时，也可向铁道部进行投诉，它会将投诉内容转发给有关部门的。

（7）火车票遗失处理方法

在乘车前丢失火车票，应该积极寻找，如果记得所购车票的票号，最好到车站退票窗口挂失，万一有人拾到后来此退票，工作人员可以替你将车票扣下，交公安部门审理后发还给你。如果丢失车票者已无力再购买车票，可到当地民政部门说明情况，请求帮助。

在列车上发现丢失车票，要从丢失站起另被前程车票；如果不能判明丢失站，从最近后方营业站起补票；如果不能判明是丢失车票时，按无票旅客处理，从列车始发站补起。

丢失车票重补车票后又找到自己原来的车票，要立即向列车长声明。在确信无疑后，由列车长开具证明交给旅客，到旅客下车站连同原票交车站售票窗口，办理补车票票价手续，收取退票费。为了防止丢失车票，乘车人一定要妥善保管车票，和钱款分放，以免票钱双双丢失。  

（8）夏季乘坐空调火车注意防冻 
因为火车在夜间行驶车厢的温度不到20摄氏度，只穿短袖、衬衫难以忍受。</string>
	<key>飞行</key>
    <string>乘机手续的办理
一般顺序是这样：

(1)拿着机票、身份证(非典期间多了个健康申报表)到指定柜台(一般一进侯机厅就可以看见一个大屏幕，上面显示有各个航班相对应的办理柜台号)交给办理人员，她(他)会给你换登机牌，问你有没有行李要托运，记住拿回来的东西里至少应有三样：身份证、机票、登机牌，别拉下了。

(2)买保险(20元，不强制，看个人需要)。

(3)安全检查：到这里需要提供三样东西：身份证、机票、登机牌。

(4)到指定登机口等着上飞机，注意广播通知。登机口号码在登机牌上有标明。

注意事项：

(1)务必在飞机起飞前的半小时办好手续，因此，最好根据情况提前到机场，特别是黄金周、春运等人巨多的时候。有的机场非常严格，到时间了不让办就是不让办，比如北京机场。

(2)喜欢靠窗户位置的朋友可以在换登机牌的时候让办理人员给你安排一个靠窗位置，一般都没有问题，除非你去得很晚，位置都安排给别人了。

(3)托运行李时有的机场会收一个保险费，10元左右，比如福州机场；如果你的行李箱没锁，有的机场会强制你花5块钱买把小锁，比如广州机场。

(4)带着水果刀时最好放在行李中托运，不然90%可能会给没收掉。另外，小动物不能带上飞机，要托运也要有检疫证明，比较麻烦。盆栽植物、花卉类的可以。

(5)托运的凭证一般贴在机票上，到达并取出行李后，会有工作人员检查托运凭证和行李上的标签是否相对应。小心别拿错别人的，把自己的丢了。

(六)航班延误或取消

一般只要飞机晚点，在吃饭时间的，机场都会提供免费饮料或餐食（似乎晚上的比中午的更易得到照顾）。如果晚上的飞机告知当天不能飞了，就得看情况了。是飞机维修、航班调配等的原因，机场会提供食宿。由于天气、突发事件、空中交通管制等原因，就只能退票或改签了，这种情况机场是不管吃住的。
(七)航班超售超售

就是某个航班卖出的票数超过飞机座位数。为了保障自己的收益，几乎每家航空公司都存在一定比例超售的现象，以保证航班座位的利用。国外航空公司一般把超售机票占售出机票的比例控制在3%左右，我国则规定超售机票不能超过5%。

大家要问了，这样岂不是有些人无法登机？没错。对于这种情况，机场的一般做法是：首先在旅客中寻找自愿者改乘其他航班。如果没有足够的自愿者，就采取拒绝登机的方式。航空公司会对自愿改乘航班的旅客开出补偿证明和配套的旅程优惠计划；对于被拒绝登机的旅客，会得到现金补偿，当然，也可以要求提供往返机票补偿证明、相应的旅程优惠计划来替代现金补偿。

一旦被拒载，旅客有资格要求航空公司作出补偿。具体的补偿会在办理登机手续的柜台立即办理，同时会签订一份协议以放弃今后向航空公司追溯责任的权利。

为了避免到了机场被拿下而耽误行程的情况发生，有几点需要注意：

(1)越紧张的航线越容易超售。

(2)尽量早到机场，晚到的如遇超售情况就有可能被拿下。

(3)票打折越多的越容易被拿下，所以，买了打折票的同志，早点去办理手续为妙。

(八)杂七杂八

(1)从飞机舒适度来看，波音747宽体最好了，又大又平稳。稍小的机型感觉空中客车的更好些。

(2)飞机座位是按A、B、C、D…横排过去的，波音的标在行李架上，空客的标在座位头顶的小灯上。找不到可以叫空姐帮忙。对于窄体飞机，一般每排6座，A和F是窗口。

(3)某些机型的小桌板不是在椅背上，而是藏在座位旁的扶手里，可以掀开拿出来。

(4)飞机上提供小食品和饮料，碰到是用餐时间的还提供正餐，两盒，一中一洋(米饭＋面包啦)。没吃饱的可以再要一份。水倒是可以少喝点，虽然飞机上也有厕所，但每每遇到气流便要停止使用，再说，人多的时候你愿意排队吗？

(5)起飞前别忘关手机啊(废话)，呵呵，空姐会告诉你的。

(6)起飞或降落时，如耳朵感觉不适，可张开嘴；嚼口香糖也有效，别噎着就行。

(7)机上服务整体来说，个人感觉地方性航空公司的比较好(海航、厦航。海航的每个航班上基本都配备外籍空姐。

当您进入机舱时，可将座位卡交给空中服务员，请他带领或指引入座。到了座位以后，可将随身行李摆在座位顶上的行李舱。大衣或雨具可交由空服员代为保管，沿途飞机上有任何需要，也都可以要求空服员帮忙，不用客气。飞机起飞和降落前后，摇晃厉害，应系好安全带，不能吸烟。

随着飞机的上升，耳朵会因高空压力而不舒服，嚼片口香糖或吃东西，保持口腔活动，可以减少不适的感觉。如有婴儿同行，则可在此时喂食牛奶。起飞后不久，机长会透过广播致欢迎辞，然后再由服务员报告预定到达时刻和注意事项。通常会以该航空公司的国语和英语等两三种语言广播。

飞机上的座位很舒服，下方有一圆形按钮，想仰卧时用力按它，靠背会自动往后倾倒，但飞机起降时，靠背必须放直，恢复原状。

前座背后有一小桌板，吃东西、写信时可拉出使用，用毕收起，非常方便。其下通常置有两三个大袋子，要面放着班机时刻表、航线图、明信片、纸拖鞋、呕吐专用塑胶袋等。头顶上的架子备有枕头、毯子供旅客使用，不够的话，还可以向空服员索取。架子里面或窗户中间有空气调节孔和电灯按钮，需要时可以自行启用。因飞机型号不一，设备也会有所不同，一般地都提供相类似的功能，反正有凝问提出即可。

在安全状况下，坐在飞机紧急出口的旅客绝对注意，无论如何不能因好奇提拉扶手，否则飞机将会迫降或失事。

旅客不能开“这是炸弹”之类的玩笑，否则将被拘留并承担由此引起的巨额费用。

坐定了以后，飞机上的节目就开始了。

1．阅读、写信：喷气客机飞行高度都很高，机身较稳，除了日出、日落和云层外，看不到大地的景色，阅读书报以及写信的机会相对增加。通常机上会有报纸、杂志供应，自己喜爱的书刊也可以随身携带2、3本。

2．娱乐：大部分的巨无霸机上，都有电影和音响设备。

3．餐饮：为了避免恶性竞争，国际航空公约对各航空公司限制得很严格，机上餐饮就成了航空公司招待旅客的重头戏，餐具和菜肴都很讲究。进餐时，将前座背后的小桌拉出来，以便服务员摆餐具。对於食物有特殊要求的旅客，像佛教徒吃素、回教徒不吃猪肉，事先向订度组或机场柜台办理登机手续老说明，航空公司会特别为您准备。为适应国际旅客，飞机上一律采用西餐的形式。进餐时，也供应茶、咖啡、可乐、汽水等饮料，可以随时向空服员索取。头等舱乘客，可免费饮酒，经济舱乘客则需付费，美金是通用的货币。

4. 抽烟：禁止吸烟“NO SMOKING”的信号消失后，吸烟区内的旅客就可以随意吸烟了；但仅限于纸烟，烟丝和雪茄因机舱内空气调节速度不足以有效排除，故绝对禁止。火柴和打火机最好放在口袋，不要放在行李里面，比较安全。飞机上也卖香烟，价钱便宜可以买来自用或送人，但也不要多买，免得被海关没收。

5．喝酒：根据国际空运协会规定，经济舱不招待酒类，不过也有部份航空公司的经济舱是供应酒类的。只要指定酒名，服务员就会送上来。机上也出售整瓶的酒，价钱和免税商店差不多，也很便宜。机上的酒吧，旅客都可以使用，但注意不要喝醉酒，免得出丑。

6．睡觉：睡觉时，可以把座位放倒，换上拖鞋，把枕头摆好，盖上毛毯，最好系上安全带，免得遇到气流不稳，空服员会把旅客叫醒，请您系安全带，反而扰人清梦。

7．上厕所：洗手间依机型不同，有的在前，有的在后。男女有别，进去之前应先看清楚门外的标志，以免误闯。门上有“OCCUPIED”的信号表示“使用中”不要再去敲门，“VACANT”表示没人，可以使用。进去后一定要上锁“OCCUPIED”的信号才会亮，告诉别人你已在使用中。“FLASH”表示用毕冲水。在洗手间内，吸烟也是绝对禁止的。

8．航行中，空服员会发一份入境登记表或海关申报表，应该早一点填妥。填写的项目，护照上都有，但须以英文填写，不会填可请随行导游或空服员代填。  

如果飞行方向和地球自转相同向东，黑夜缩短，向西则黑夜漫长。这种时差的不适应，在飞机旅行上很普遍从登机，就得开始学习。如晕机，可向服务员要镇定剂，或打开空气调节孔吹冷空气，实在忍不住，并可以拿出呕吐袋来预备。遇到机舱内氧气密度不平衡，有呼吸困难、头痛、咳嗽、心脏不舒服等现象产生时，只要拉下头上的氧气罩套上，不久就可恢复正常。使用方法，在飞机刚起飞时，应留意服务员对机内救生等设备的示范。  

长时间飞行，不妨和邻座不相识的旅客聊聊天，交换彼此的见闻，既可解除寂寞，又多交些朋友，享受一下“四海之内皆兄弟”的乐趣 
小提示：上飞机前饮食注意事项  

上飞机前不要进食含过多的纤维素和容易发酵产气的食物，以免在飞机上腹胀及食欲不振。  

不要吃太饱。因进食大量油腻或高蛋白食品，不容易消化，会导致腹胀、腹泻及容易晕机。  

不可饥饿上飞机。因为飞行时，高空气温及气压之变化使人体需要消耗较多的热量。  

要吃含热量高的食物，而且胃中空虚容易恶心，所以上飞机前应吃易消化及营养丰富的食品。  

原则上在上飞机之前一至一个半小时，可依个人喜好，选吃些面包、小点心、牛奶、瘦肉和水果等，只要八分饱即可。</string>
	<key>乡村</key>
    <string>迷路
　　万一迷了路不要慌乱，可先估计一下从能确定方位的地方走出了多远，然后在身旁的树上刮下些树皮作标记。要把树干四周的皮多刮掉些，以便从任何方面都能看到。这样，最后总能找到自己的目标。迷路时如发现小溪、河流，那就沿着它们走，它可带你走出森林。

防病
　　长途旅行不可能携带更多的水和食品，因此免不了在旅游途中自寻水源。虽然森林中的溪水看上去清澈见底，却常常含有能将人致死的病菌，所以必须煮沸后饮用。所幸的是，森林中有很多能提供水分的植物。在旅行之前，您应该掌握一些辨认可食植物的知识。如果你没来得及上此一课，那就仔细观察鸟和猴子都选择哪些野果为食，这些食物对人体也是无害的，可放心食用。

防蛇咬
　　为了避免毒蛇咬伤，步行时不妨打草惊蛇：用木棍拨打草丛，将蛇惊走。一旦不小心被毒蛇咬伤，不要惊慌，先把伤口上方(靠心脏一方)用绳或布带缚紧，再用力挤压伤口周围的皮肤组织，将有毒素的血液挤出，然后可用清水、唾液洗涤伤口，同时可服下解蛇毒药片，并用药片涂抹伤口。对伤重者应在进行同样处理后尽快送至医院。

避雷击
　　如果在森林中遇到雷雨，要到附近稠密的灌木带去，不要躲在高大的树下。高大的树木常常引来落地雷，使人遭到雷击。避雨时应把砍刀等金属物暂存放到一个容易找到的地方，不要带在身上。
　　此外，森林中蚊子、扁虱、水蛭等害虫很多，因此在旅游过程中不可贪图凉快穿短衣裤，而要扎紧裤腿和袖口。当夜幕降临时，最好支起帐篷或蚊帐睡觉，以防蚊虫叮咬及潮湿冰凉的森林气候诱发关节炎等疾病。
    </string>
	<key>文化</key>
    <string>1、进入宗教寺庙或宗教旅游区观光，必须先了解旅游地的宗教信仰和有关规定，要尊重景区或宗教寺庙 的有关规定和宗教信仰，做到"入乡随俗"。
        
2、旅游者在进入寺庙和观瞻具有宗教特色的建筑物时，应衣着得体，不能过于随意以免引起误解。
        
3、若遇寺庙"法事"或当地正在进行宗教活动时，应静立或悄悄离开，不能随意走动，或旁若无人的大 声喧哗。
        
4、应事先向导游或熟知民族礼节得人请教有关礼仪和称呼。若无法了解，也应以本民族的礼节方式认真 对待，以示尊重。
        
5、切勿随意触摸（当地风俗允许的除外）宗教标志、佛像、祭祀器物；很多宗教场所不许拍照，旅游者 在照相留念时应注意现场的提示标志，或向宗教场所人员询问，以免引起不快。
        
6、严格尊重民族风俗和宗教信仰，不得在寺庙殿堂等肃穆的场所随意就餐，更不能在少数民族的场所违 反饮食规定及风俗。</string>
	<key>自行车</key>
<string>　自行车作为惟一的交通工具，性能的好坏至关重要。出发前应对各部位的机件做全面彻底的检查，并随身携带常用的修理工具榔头、螺丝刀、气筒、扳手、钳子等，以及备用件滚珠、内胎、闸皮、车条、气门芯等。每天结束后还要认真检查车，发现问题及时解决。
　　一般而言，以车座较低并有5~10度的后倾为最佳角度。运动量的安排要合理，并保持一定的速度，切忌忽快忽慢。每2~3小时休息一次，别想停就停。
　　在特殊道路条件下行车，车速的把握尤为重要。路遇浅河、水洼、碎石时，别习惯性减速，快车速反而易顺利通过；行车在泥泞的路面，不妨拆下前后挡泥板，以免泥堵死挡泥板和车轮间的缝隙；下坡时，前后闸都要捏。
　　夏天遇到柏油融化的路面，千万避开，如别无选择，先上土路让车轮沾些黄土，以防被粘住。
　　途中宿营时，营地要选择干燥背风的地方，附近应有水源。有村落处，借宿是好办法。
　　骑车旅游对服装尤其是裤子要求比较严，以宽大为佳。夏天穿背心、裤衩，阻力小，通风性又好。太阳帽和墨镜、雨具、卧具、常用药、照明器材、交通、地形图等都是必备之物。
　　现在有种专业的自行车包，用起来顺手方便。普通背包一定要设法扎牢。宿营时，要将东西放到一个可用身体遮挡的死角中，以防丢失。
　　~~~~~~~~~~~~~~~~~~~~~~~~~
　　在进行自行车长途骑行前应该作好必要的准备工作。在硬件方面要作到以下几点：选一辆好车；作好必要的调试；准备好常用工具；带足合适的服装和必需品。其次就是骑行技术方面的事了。
　　一、选车。最好是27英寸的平把全地貌车，这是专为长途自行车旅行设计的。该车前后均有车架，21速，可载重150公斤（含骑行者体重），且车带可根据路面、载重情况自选，从1.25—1.50（指粗细）都有。这类车目前在国内市场上很难买到，只是私人手里有从国外带回来的。可替代全地貌车的是山地车型中的一种（它在设计时也考虑到了长途旅行的问题）：26英寸，21速，可载重120—150公斤，车带从1.50—1.75之间任选，有后架，可加装前架，水壶架有3个（当然还可加）。如果你要走的是柏油公路，也可用一般弯把27英寸细纹旅行车，车带宽度为1.25，有后架，骑上它很轻快，适合载物不多的长途旅行。
　　二、调车。一般自行车旅行是边骑边看，自由自在，速度不是很重要，重要的是方便、舒适。按这个要求调车。车座：以骑行者的腋部放在车座中间，用手去摸轮盘轴心部，以摸到为准，这就是骑行者正确的车座高度。车把与车座在同一水平面上为好，高低在半寸之间。检查一下传动是否连惯，前后制动是否灵敏。可在前后带内胎里放一些补漏液，如有漏气，要检查并拔除刺入物，将破孔朝地，充足气就可以自动补带。还有一个办法，是在内带与外带之间放一条较厚的帆布。我92年春放的一帆布，到现在也没有出现过任何问题。这些工作做好了，这辆车就不会在路上给你添麻烦了。
　　三、工具。只要你在旅行前准备得充分，车也调整正确，那么在路上基本上是不会有什么问题的。为防万一，还应带一些与你选用的自行车相配的工具及零件。如剪刀、小木锉、多用搬手、旅行气筒（可架车上）、胶水、剪锉好的小块胶皮，内带、外带各一条，以备应急。
　　四、服装。一般长途自行车旅行多选择夏天，那最好选用短装骑行服，它的优点是紧身，不额外增加阻力。骑行裤内有真皮垫，或仿真皮垫，防磨、透气。如果是雨季，当然少不了防雨设备。现在市场上有一种骑行服是既保温又挡风还防雨，最适合去气候多变的地区，当然价格较昂贵。如果没有骑行服，特别是骑行裤，也可穿高弹力的平滑短裤。直接与身体接触，里面不要再穿任何服装。最好在常磨的部位，涂一些凡士林之类的油。如遇天冷，可在胸内衬一两张报纸，保温效果极佳。为了防风和小飞虫，还要戴上骑行眼镜。无色的，适用于阴天；有色的，可防阳光直射；还有浅黄色的，是为夜间设计的。头盔，有些外国人喜欢在旅行时戴它，以防出交通事故。其实自行车小帽更实用，更舒服，经济实惠。骑行手套是为了防滑防磨，这要根据个人情况决定是否需要。脚套除了能帮助你有一个正确的放脚姿式外，它还可以帮你节省体力。当然不会用或者用不习惯者不如不用，不然会造成紧张，反而不安全了。
　　五、骑行。上述可称为硬件，骑行是软件，所以掌握正确的骑行技术很重要。掌握骑行速度，以鼻吸鼻呼为准备。在干燥地区旅行，可在鼻腔内适量涂一些凡士林油，可避免鼻腔干燥，保障呼吸顺畅。如果需要用口呼吸，那么就是强度大了，或是累了。这时应当减速，调整变速器。上坡下坡时，使用变速器不要一下变好几个档位（常见不太会用变速器者常这么用），这样会一下不适应，更累。下坡可放松一下身体，溜下来。如果太陡，速度过快，用后闸制动减速。不是紧急情况，不要一下把闸抱死，不然外带损失很大。最后，在做长途自行车旅行之前，最好利用节假日做些一两日之内的短途自行车旅行，以便逐步适应。
　　~~~~~~~~~~~~~~~~~~~~~~~~~
　　骑自行车远行是个比较复杂的游戏，需要比较长的时间做前期的准备工作。就是在确定了具体的出发日期，大概也还需要一周的具体准备时间。
　　想要骑车远行最少一年以上的坚持不懈地锻炼是必不可少的。如果你的体能还好的话，锻炼耐力和对气候的适应力比较实用。我喜欢慢跑、爬山和洗冷水澡。我觉得这对骑车远行很有帮助。如果是自己单独骑车旅行，那要准备的事项是很多的。首先要学习旅行知识，然后是制定骑行计划。计划的可操作性完全靠对未知旅途资料的收集，对信息收集的越多，计划就制定的越具体。地图是最重要的资料之一。我跑遍了北京几家有地图专柜的书店和地图出版社的门市部，买了十几本所谓最新版本的全国或省市地图册。（最好选择走国道或省道。）而各种版本的地图册只要你仔细看就会发现差异往往很大，尤其是在公里数上，所以要多买几个版本的地图册相互比对。计算公里数和道路是否通行一定要多查资料搞清楚才行，尤其是道路在入城和出城时的叉路和死路最多，最易走错。拿不准的一定要嘴勤，多问路，指路牌有时也是靠不住的。道路上指示牌都是为机动车辆设计的，很容易误导像我们这种外地的非机动车驾驶者，不小心就会骑上机动车辆专用道或者高速公路。很多和老路平行的新路在地图上是没有标出的，如果找不到人问路，新路上又没人车来往，那么就像"聪明的一休"说过的，还是走老路保险些。出行时最好只携带有用部分的地图，要是舍不得拆书就复印的清楚些。很沉的地图册在你骑上坡路时不会给你带来什么好情绪的，另外地图等资料要注意防水。我用的是一种能密封的透明文件袋，每天把要看的地图放在文件袋的最外两面，就不用老翻来翻去了。注意要按行程给地图编号，这也是制定骑行计划的一部分。再有就是要多计划几条备用线路，这会让你在实际情况中更能随机应变。
　　自行车也许是在你远行中真正的主角。好车的标准很多，如果是长距离、长时间载重骑行国产公路的话，那像普通的自行车，山地车，赛车不是不能骑，只是骑行的乐趣可能就少了很多。800元以下的普通自行车的质量就别提了。便宜的山地车车架都较重，而且车胎都太粗，一般的山地花纹也不适合公路的要求，摩擦系数较大，长时间的骑行再加上用骑山路的姿势骑公路一定会很累的。700C的赛车虽好骑，却不能载较重的行包，也没有长的挡泥板。如果你有后援支持的话除外。而且有中国特色的国道、省道是不会放过赛车太薄的车胎和车身的，如果你喜欢不厌其烦的修车和带上N套备件的话就另当别论了。
　　有一种叫郊游车的车型比较合适，但只有专业的自行车店才有的卖，一般都是用来出口的，很适合长距离公路骑行。郊游车实际上是山地车和赛车的混血儿，车轮直径有700C，比山地车大些，这样你的膝关节在每千公里内的磨损会少许多。车胎一般在35C-42C之间粗细，比普通车胎要粗些，但要比山地车细。在载重、防扎和轻快之间达到相对平衡。外胎花纹最好选择平滑的公路胎，载重后在公路上要是紧急刹车的话，山地胎可能会因前轮刹得太紧而跑偏滑倒。自行车前后轮都要装挡泥板，不然仅路面的积水也会弄脏你的骑行水杯和车后包。何况没有挡泥板的自行车也不好看。后行李架要尽量的结实牢固，最好用防震镙丝。
　　买专用的自行车前包，车后包一般都能防水和带反光条，贵重钱物还是放在随身携带的包内。有种能放地图的车把包比较实用，把当天的里程、地图等资料放入，查起来很是方便，甚至骑在车上手不用离车把，就能看地图。还有就是一种德国产的自行车双肩背包，特点是后背处有支架，包和后背分离，不闷热。虽然包本身就能防水，但它还是单有一个荧光防水罩，就是价格太贵。但如果不去山区和很干旱地区，骑长途就很少背带水袋的双肩背包骑。一般的车架上只有一个水杯架镙孔，我很幸运地买到过能装两个水杯架的郊游车，因为一个水杯总是不够用。我把一个水杯装白开水，另一个可以装买来的饮料或自配的葡萄糖加盐水。骑行水杯买吸嘴外带防尘罩的比较卫生。郊游车也分男女款，以男车居多。有的还带前后减震，但会增加车身重量，前后减震对骑国道公路用处不大。如果骑起来轻松些，也可以换装西玛诺的椭圆轮盘，不是很贵。车闸、闸皮、闸线最好用进口质量好的，国产货的是哪个方面也没法比，这些涉及生命安全的零件最好不要用靠不住的和没有用过和听说的品牌。车把立最好换成铝合金可调式的，并反复调试到自己手掌，双肩和腰认为最不易疲劳的高度。重量对长距离骑行影响较大，所以车上的部件尽量用铝合金，比如车把、车圈、把立、曲柄、车支子等。铝的后行李架很少能买到，有的郊游车就配，据说是外商订做的。质量好的塑料脚蹬，挡泥板也比金属的轻便些。
　　音量大的电喇叭更容易引起在马路中央散步，百无聊赖者们的注意。那些突然会从你身旁拐弯的司机也需要多按几下喇叭。骑行码表是必不可少的，它能让你知道自己的体能，也能把你的进度调节地较为合理些，最重要的心理作用就是在你精疲力竭并对前途感到渺茫的时候，还能给你安慰，让你知道还有多少距离和时间才能到达预定目标。不切实际的计划也是不精确计算的结果，不要用这种计划来测试你的心理和生理极限。一般的码表自带磁铁的磁力都很小，很容易漏计。世界上磁力最强的磁铁还就是我们国产的稀土磁铁，换上以后绝对不会出现感应器测不到磁力的现象。一般大一点的城市的电子配件市场都有的卖。我还是比较喜欢用西玛诺的变速器，根据路况要经常换挡，对车对人都有好处，太陡峭的上坡是要下车推过去的。前后轴要用进口质量好的快拆，不锈钢车条更能适合南方潮湿的气候，好的链条是不会让你在关键时刻掉链子的。
　　车锁最好不要买是十字形钥匙的那种，专业车贼们手里大多都有由特种钢制成的强力十字形扳手，撬起锁来有时比一字形钥匙的锁还好加力，可直接把锁芯掰断。如果带两把都在40元以上的锁会更具有防盗性。我一般用一把回型硬锁,一把链子软锁.
　　车座是不太好选的，太宽的不适合腿部运动；太窄的又会很硌屁股；太硬的不舒服；太软的长时间骑行时，海绵会添满臀部与车座间的所有空隙因而压迫皮肤下的小血管。其实还有个问题是我自己的亲身经验，车座是纵向凸起的，长时间骑行就会感觉到它在努力把臀部往两边掰开，很是难受，（辛亏没有痔疮）不知别的车座也是否这样。为了舒服些和吸汗，我也用过护翼型卫生巾，一般半天就磨损和湿透了。最好的方法就是骑车时多换姿势，多停下来站着休息，每次不能少于十分钟，屁股才会好受些。
　　除非迫不得已，否则尽量不要在夜间骑车。一是夜间国道没路灯，二是对面车灯很晃眼，三是夜晚的机动车辆都开得很快，万一发生交通事故，夜晚路上人很少，有利于司机逃逸和不利于被救护。虽然自行车的前后车灯有时会在隧道和桥洞下也会感觉到光线很微弱，但也要有所准备；挡泥板、车包、后背衣服上都可以加反光板、反光贴或反光布；好的自行车前灯大多都是进口的比较贵，尾灯有很多国产货很便宜；60元以上的便携式打气筒在推和拉两个行程中都是在打气，一般都配有卡具；在人离开自行车时一定别忘了把气筒和码表一起摘下来；“铁人把”能让人换成趴下的姿势骑车，也能减少风阻，但手会离车闸很远，来不及刹车会有一些危险性；付把却有配付把刹的，不过是换成了往后坐的姿势了；左把上可以装个小反光镜，要买凸镜，平镜没啥用处；头盔一般骑山路才用，要是没有上旅行保险的话，那就天天戴在头上吧，即使是在平坦的路上。带太多的水虽然是很沉重的负担，但是如果骑一天也补充不上水的话，那一定要带水袋或小水桶，两杯水在炎热的夏天只够喝半天的，不过一般国道边的小镇都有瓶装水卖，只是水袋一定要保持清洁，也要防止被扎破。
　　夏天骑车的服装以纯棉贴身有弹性为好，贴身服装的能及时吸汗后很快蒸发掉，但不能太厚。太宽松的服装只会多兜些顶风，却阻挡不住汗水往下流。专业服装比较昂贵，性价比有些不划算，目前还没听说有便宜的国产货。鞋子一定要轻，最好是没有鞋带的那种，还要沾水后踩在脚蹬上也不会打滑的。专业的自行车鞋也太贵了，有的鞋还带脚蹬锁，还要再单配脚蹬，那一般是给赛车用的，为的是在抬腿蹬骑行时也在做功，一般远行时用不上。最好买个骑行手套戴上，骑时间长了，手掌也会受压冲血的。有种摩托车用无指手套很实惠，也比专业的好用。我还准备了一个南方出的有专利设计的雨衣，特点就是耳边有孔，增加了听力；胸前的防水做的比一般的雨衣要好；帽沿下还有一个风挡片；很实用。出行前一定要给车上好牌照并同身份证一起复印几份。如果是很贵的自行车那就给自行车拍个照，有的好车车架上还有钢号，也要记下来。我出行前用电脑雕刻的方法在塑料牌上刻下了血型、身份证号、联系电话、自行车号、照相机身号等等重要资料，可以挂在胸前和挂在钥匙链上，就像美军的身份识别牌，为的是单独骑行时以防万一。每次远行我都是要上保险和立遗嘱的。只有在这种心态下出行才会清醒的意识到安全的重要性，这也是对亲人的负责。目前在北京上保险外资保险公司很少（因为国外保这种个人旅行险的很多）。国内只有平安保险公司在网上有种旅行险，不过也只能在网上投保，而且每次旅游地只能上9个城市，只保这几个是肯定不够用的，可以把行程分段上保险。我采取的是只保计划中的休息地，因为这样即便是你在半途中发生什么事，只要是在通往上了保险地的路上，保险就是有效的。保险的时间上也要比计划多上些，以防万一。我一般只先上单程的保险，到了返程点后根据实际情况修订行程后，再上回程保险也不迟。
　　修车工具是必不可少的，其中补胎的工具是最常用的，美利达有一种塑料套装工具，还不错。要是前后车轴都用快拆的话，就不用带很沉的大扳子；如果是骑郊游车的话，最好带两条备胎，凡是外地配不上有可能常坏的配件要备份一下（如：700C的车条）；还要带压力罐装润滑油。高级进口的配件质量都很好，一般不会坏，但坏了就不好修。国产货质量很难保障却可以经常拆下来维修，只是所花的精力和时间的代价有可能要比买进口产品付出的多。一般在找不到修车铺的情况下才自己修车，人多的地方大多都有修车铺，所以尽量不要自己修车，一是在自己专心修车时无暇顾及自己的财物，二是一般修车的费用远比不上你所消耗的精力，除非你就是开修车铺的。为了减少修车的几率，骑车时尽可能捡路面干净平整的地方骑，也尽量减少自行车在暴晒，雨淋的环境存放。好的车手最基本的境界就是根据车况、路况提前减速，基本不用捏车闸，以减少车的损耗。还有就是尽量不要让载着行李的自行车摔倒，如果倒了，在骑之前就不用再扶起来，要是车支子坏了，在停下来的时候就干脆把自行车放倒。
　　各种药品也要带齐，最好先学习一些外伤急救知识和一般用药常识。药品一般分成：1外伤急救包扎、消毒、杀菌、止血类药；2鼻、口腔、呼吸道、胃肠道类药；3伤风感冒，镇痛类药；4防暑、寒、晒、烫、烧、蛇虫叮咬、晕船类药；5防运动伤类药；6各类维生素、微量元素、盐、干葡萄糖等营养剂。单准备出一个防水，防潮的包，放急救和自己的常用药，随身携带放在方便拿取的位置。其它药品也要放在防潮，防晒的容器内。可到小商品市场批发一些带密封条的防潮小塑料袋，其它怕潮物品也用的上。 如果是从沿海地区骑车去高原的话，一定要做高原反应的体能检查，有些人是天生不能生活在高海拔地区的。如果不幸自己赶上了，欣赏别人的高原游记不失为明智之举。
　　气候也是最影响骑车远行的因素之一。骑车最累的是遇上顶风，它能完全延误你自认为给自己预留了很多体力的计划。因为快速骑行时的阻力，有近90%是空气阻力。如果赶上了顺风，可要提前修好车闸。骑车最怕的是夏季正午的太阳光和高原的紫外线，即使不会中暑，也会暴晒掉几层皮。骑车最险的是在雪地上骑车，与撞车和骑到沟里相比，能在平地上摔倒算是最幸运的事了。骑车遇到下雨天，也应该感到高兴，要感谢老天爷，没有制造出更坏的天气，比如闪电雷劈。总的来说，骑行三、四天就要安排一天休息的时间，也可以用来错开恶劣的天气时段。</string>
	<key>山峦</key>
    <string>1.注意因人而异
        　　爬山虽然是一项很好的健身活动，但并非人人适宜。在准备爬山前最好先检查一下身体，如果患有心脏病，最好不要爬山。因为爬山体力消耗较大，血液循环加快，加重心脏负荷，容易诱发心绞痛、心肌梗死。如果实在想爬山，一定要与人同行，找一些坡度不大的山慢慢爬，中途最好多休息几次，并带上预防冠心病突发的急救药。另外患有癫痫、眩晕症、高血压、肺气肿的病人，也不宜爬山。
        
2.注意多喝水
        　　早晨是人体血液黏稠度最高的时候，也是心脑血管病发作的高峰时段。爬山前哪怕是不渴也要喝一杯水，既可稀释血液，又可减轻运动时的缺水。爬山时也要注意随时补充水分，最好是含有适当糖分及电解质的饮料，可以减轻疲劳感，尽快恢复体力。
        
3.注意循序渐进
        
        　　爬山前应做些简单的热身活动，然后按照一定的呼吸频率，逐渐加大强度，避免呼吸频率在运动中发生突然变化。爬山的高度和时间应根据自己的体力和平时活动情况而定。坡度不宜过大，时间不宜过长，速度不宜过快，以身体没有不良反应、无明显气喘为度。如果感觉疲劳，或者有心慌、胸闷、出虚汗等，应立即停止运动，就地休息。
        
4.注意防止摔倒
        
        　　腿脚不太灵便，爬山时最好拄一根拐棍，并注意身体前倾。
        
5.注意不要迷路
        
        　　爬山应选择那些人比较多的线路，避开悬崖峭壁和布满荆棘的小路，不要钻那些没人走的山林。上山时间不要太早，下山时间不要太晚，最好带上通讯工具如手机，万一发生意外，便于同外界联系。
        
6.注意科学休息
        
        　　爬山中途休息应长短结合，短多长少。短休息控制在10分钟以内，以站着休息为主。长时间休息可在20分钟以内，但不要马上坐下，应站一会儿再坐下休息。休息时，可以自己或相互按摩一下腿、肩、颈等部位的肌肉。
        
7.扭伤切忌局部按摩
        
        　　在爬山中发生急性扭伤时，切忌局部按摩或热敷，最好冷敷20～30分钟，能起到消肿和止痛作用。
</string>
	<key>建筑</key>
    <string>不同的材料会给你不同的感觉，每一块砖都有自己想表达的东西。木头温暖，玻璃轻盈，砖石朴实有雕塑感……你不仅仅需要用眼睛去看，还需要用手去触摸感受它们的质感，是粗糙是光滑？体会一下他使用这种材料想给你表达什么样的一种爱意。
        
有时候你还需要用到你的听觉，听一听风的声音，花鸟虫鱼的声音，或是人行走在沙石路上的声音。
        
        
他往往会限制你的视野，墙上每一个开口都是一个相框，你看到的会是一幅画——给你甄选的最美丽的风景。
        他不会给你看到她的全貌，只撩拨你的欲望，你会不由自主地上前想看一看他隐藏的旖旎景色。</string>
	<key>湖泊</key>
    <string>
地壳构造运动、冰川作用、河流冲淤等地质作用下，地表形成许多凹地，积水成湖。露天采矿场凹地积水和拦河筑坝形成的水库也属湖泊之列，称人工湖。湖泊因其换流异常缓慢而不同于河流，又因与大洋不发生直接联系而不同于海。在流域自然地理条件影响下，湖泊的湖盆、湖水和水中物质相互作用，相互制约，使湖泊不断演变。湖泊称呼不一，多用方言称谓。中国习惯用的陂、泽、池、海、泡、荡、淀、泊、塘、错和诺尔（淖尔）等都是湖泊之别称。
起到的作用

内陆盆地中缓慢流动或不流动的水体。严格区分湖泊、池塘、沼泽、河
流以及其他非海洋水体的定义还没有完全建立起来，然而，一般可以认为，河流运动比较快；沼泽内生长着大量的草、树或灌木；池塘比湖泊小。按照地质学定义，湖泊是暂时性水体。在全球水文循环过程中，淡水湖作用最小，其水量仅占全球总水量的0.009%，尚不足陆地上淡水总量的0.0075%。然而，淡水湖98%以上的水量是可供利用的。全球湖泊淡水总量为125,000立方公里（30,000立方哩），大约4/5的淡水储存在40个大湖中。尽管湖泊遍布全世界，但北美洲、非洲和亚洲大陆的湖泊水量就占世界湖水总量的70%，而其余的大陆湖泊较少。
湖泊热量

水最大密度的温度是随深度变化的，大多数湖水最大密度温度接近于4℃（39℉），而在接近0℃时形成冰，当湖泊随着表面冷却降到4℃时，垂直混合发生。如果密度随深度增加，则湖泊被认为是稳定的；如果密度随深度减小，则表明湖泊存在着不稳定的条件。由于冷却和增温过程，表面水层密度增加，使水团下沉，引起混合，这一现象称为湖水循环或湖水对流。湖泊热量估算包括以下几个主要因素∶净射入的太阳辐射，由湖泊表面和大气散射的长波辐射的净交换，表面分界面上可感热的输送和潜热过程，以及通过河川径流、降水、地下水流入和流出的热量，地热的传导和动能的消耗。
湖泊水源

湖泊主要通过入湖河川径流、湖面降水和地下水而获得水量。湖泊分不流通湖（无地表或地下出口）和流通湖（有地表或地下出口）两种。不流通湖湖水耗于蒸发而导致湖水含盐量增加，流通湖湖水通过地表或地下径流流走，湖水量收支的净差额，随入流量和出流量的周期性或非周期性的变化而变化，这种差额引起了湖水位的变化。湖水位通常在雨季或稍后上升，蒸发旺季下降。以冰川融水为主要补给的湖泊，水位的变化既与热季又与雨季相应。
引起湖水运动的力
引起湖水运动的力主要有∶风力、水力梯度及造成水平或垂直密度梯度引起的力。湖面风将能量传给湖水，引起湖水运动。由水流进出湖泊而引起水力效应。湖水内部压力梯度及由水温、含沙量或溶解质浓度变化造成的密度梯度都能引起湖水运动。
银镜
湖流是各种力相互作用的结果，但在许多情况下少数特定的力起着支配作用。当没有水平压力梯度，没有摩擦时，水平流受地转偏向力影响，北半球将偏向右。在压力梯度起支配作用时，则这种力与地转偏向力相结合形成所谓地转流。这种情况只出现在很大的湖泊中。由于风力作用或气压梯度使水面倾斜而产生梯度流。由风力引起的湖流最为普遍。在大的深水湖中，理论上表面流流向将沿着风向右偏45°，及到深层，流速逐渐减弱，且进一步向右偏。在风力影响不能到达的深度以下，水流的方向与风向相反。对于中纬度大而深的湖泊这种深度约为100公尺（328尺）。兰米尔（Langmuir）环流是指较大的湖泊在强风长期作用下（风速在2~3m/s以上），表层许多对流的螺旋线形成一系列平行的顺时针方向的反旋流与逆时针方向的旋流，造成交替的辐合流与辐散流。此现象是兰米尔于1938年首先发现的，故称兰米尔环流，成对的相同螺旋形流，能逐渐调整变成近似地平行于风向，在水面上产生许多条纹状的翻腾带。在辐射线上常有一行漂浮的微小物质或浮游生物聚集在一起。福勒研究认为，兰米尔环流产生的机制主要是表面波垂直升降的摆动引起的。当风速超过2~3m/s时，由于垂直摆动指数衰减所引起的波浪的涡动压力，其最大值出现在接近湖水表面处，因而产生不稳定性，并瞬即分散向下成为对流型，这种方式使风的能量通过表面波的能量转变为紊动。兰米尔环流是湖泊中亲动向下传输及与上层水进行混合的主要途径之一。这些环流能改变湖面藻类及浮游生物的水平分布。例如刮风时，可以观察到水面上产生许多平行波纹，而且可以延续到相当远的距离，在波纹处出现相对下沉，波纹之间则相对上升，这种环流现象也可以由湖内热力混合下沉而造成。
湖中波浪

浪多是由湖面风引起的。风吹到平静的湖面上，首先使广阔的湖面产生波动和波纹，形成比较有规则、范围较小且向同一方向扩展的表面张力波。波高的增加与风速、作用持续时间及吹程呈函数关系。然而即使在最大的湖泊中，也不会出现海洋中的波涛现象。湖面波浪沿着风向且与波浪顶峰垂直方向传播，若波长超过水深的4倍，波速近似等于水深与重力加速度乘积的平方根；若水深较大时，波速与波长的平方根成正比。
由于持久的风力和气压梯度造成湖面倾斜，当外力作用停止时将引起湖水流动，使湖而复原。这一过程称静振。基本的静振为单节的，但如发生谐波，则亦可能是多节的。如风沿狭长的湖泊长轴劲吹，则多出现纵向静振，而横穿狭窄湖面则多出现横向静振。湖泊内部静振是由热力分层现象引起的。[2]浪基面：波浪所能触及的湖底。风暴浪基面是指风暴时湖浪能搅动的湖底部位，是用来划分深湖和浅湖的界线。
*最大洪泛面：洪水期时湖平面所能触及的最高水位，是用来划分湖泊与陆地的分界线。
2分布

世界湖泊分布很广，中国湖泊众多，面积大于 1平方公
青海湖
里的约2300个，总面积达 71000多平方公里（20世纪80年代数据数据）。另一说为2848个，面积为83400平方公里（20世纪50年代数据）。青海湖面积为4000多平方公里，是中国最大的湖泊。西藏的纳木错，湖面高程为4718米，在全球湖面积为1000平方公里以上的湖泊中，是海拔最高的湖泊。位于长白山上的天池（中国朝鲜界湖），水深达 373米，是中国最深的湖泊。柴达木盆地的察尔彝盐湖，以丰富的湖泊盐藏量著称于世。
3湖盆

指蓄纳湖水的地表洼地。湖盆底部的原始地形及平面形态，在颇大程度上取决于湖盆成因。根据湖盆形成过程
湖泊干盐湖
湖泊干盐湖
中起主导作用的因素，湖盆概括为以下几类：由地壳的构造运动（如断裂和褶皱等）形成的构造湖盆；因冰川的进退消长或冰体断裂和冰面受热不匀而形成的冰川湖盆；火山喷发后火口休眠形成的火口湖盆；山崩、滑坡或火山喷发使物质阻塞河谷或谷地形成的堰塞湖盆；水流冲淤或水的溶蚀作用形成的水成湖盆；由风力吹蚀形成的风成湖盆；此外尚有大陨石撞击地面形成的陨石湖盆等。
研究湖泊
湖泊的科学是湖沼学，湖沼学家常根据湖盆形成过程来对湖泊和湖盆进行分类。特别大的湖盆是由构造作用即地壳运动形成的，晚中新世广阔而和缓的地壳运动导致横跨南亚和东南欧广大内陆海的分离，残存的内陆水体有里海、咸海以及为数众多的小湖泊。构造上升可使陆地上天然水系受阻而形成湖盆，南澳大利亚的大盆地、中非的某些湖泊以及美国北部的山普伦湖都是这种作用的产物。此外，断层也对湖盆的形成起着重要的作用，世界上最深的两个湖泊贝加尔湖和坦干伊喀湖的湖盆就是由地堑的复合体形成的。这两个湖泊以及其他的地堑湖，特别是在东非裂谷里的那些湖泊和红海都是近代湖泊中最古老的。火山活动可以形成各种类型的湖盆，主要类型为位于现存的火山口或其残迹中的火口湖。俄勒冈的火口湖就是典型的例子。
湖盆
还可由山崩物质堵塞河谷而形成，但这种湖盆可能是暂时性的。冰川作用可以形成大量的湖泊，北半球的许多湖泊就是这种作用形成的，湖盆为冰盖退缩过程中的机械磨蚀作用所形成，或由于冰盖边界处冰体堰塞而成。冰碛对堰塞湖盆的形成起着重要的作用，纽约州的芬格湖群（Finger Lakes）就是终碛堰塞而成。河流作用有几种方式可以形成湖盆，最重要的有瀑布作用，支流沉积物的阻塞，河流三角洲的沉积作用，上游沉积物由于潮汐搬运作用而阻塞，河道外形的改变（即牛轭湖和天然堤湖）以及地下水的溶蚀作用所形成的湖泊。有些沿海地区，沿岸海流可以堆积大量的沉积物阻塞河流。此外，风、运动活动和陨石都可能形成湖盆。
4碱湖
沉积物主要是由碎屑物质（黏土、淤泥和砂粒）、有机物碎屑、化学沉淀或是这些物质的混合物所组成。每一种沉积物的相对数量取决于流域的自然条件、气候以及湖泊的相对年龄。湖泊中主要的化学沉积物有钙、钠、碳酸镁、白云石、石膏、石盐以及硫酸盐类。含有高浓度硫酸钠的湖泊称为苦湖，含有碳酸钠的湖泊称为碱湖。
由于不同湖盆侵蚀产物的化学性质不同，因此，世界上湖泊的化学成分也是千变万化的，但在大多数情况下，主要成分却是相似的。湖泊含盐量系指湖水中离子总的浓度，通常含盐量是根据钠、钾、镁、钙、碳酸盐、矽酸盐以及卤化物的浓度来计算。内陆海有很高的含盐量。犹他州大盐湖含盐量大约为每升20万毫克。
5演变
一旦形成，就受到外部自然因素和内部各种过程的持续作用而不断演变。入湖河流携带的大量泥沙和生物残骸年复一年在湖内沉积，湖盆逐渐淤浅，变成陆地，或随着沿岸带水生植物的发展，逐渐变成沼泽；干燥气候条件下的内陆湖由于气候变异，冰雪融水减少，地下水水位下降等，补给水量不足以补偿蒸发损耗，往往引起湖面退缩干涸，或盐类物质在湖盆内积聚浓缩，湖水日益盐化，最终变成干盐湖，某些湖泊因出口下切，湖水流出而干涸。此外，由于地壳升降运\动，气候变迁和形成湖泊的其他因素的变化，湖泊会经历缩小和扩大的反覆过程，不论湖泊的自然演变通过哪种方式，结果终将消亡。
6分类

按其成因可分为以下九类：
构造湖：是在地壳内力作用形成的构造盆地上经储水而形成的湖泊。其特点是湖形狭长、水深而清澈，如云南高原上的滇池、洱海和抚仙湖；青海湖、新疆喀纳斯湖等。（再如著名的东非大裂谷沿线的马拉维湖、坦噶尼喀湖、维多利亚湖）构造湖一般具有十分鲜明的形态特征，即湖岸陡峭且沿构造线发育，湖水一般都很深。同时，还经常出现一串依构造线排列的构造湖群。
火山口湖：系火山喷火口休眠以后积水而成，其形状是圆形或椭圆形，湖岸陡峭，湖水深不可测，如白头山天池深达373米，为我国第一深水湖泊。
堰塞湖：由火山喷出的岩浆、地震引起的山崩和冰川与泥石流引起的滑坡体等壅塞河床，截断水流出口，其上部河段积水成湖，如五大连池、镜泊湖等。
岩溶湖：是由碳酸盐类地层经流水的长期溶蚀而形成岩溶洼地、岩溶漏斗或落水洞等被堵塞，经汇水而形成的湖泊，如贵州省威宁县的草海。威宁城郊建有观海楼，登楼眺望，只见湖中碧波万顷，秀色 迷人；湖心岛上翠阁玲珑，花木扶疏，有水上公园之称。
冰川湖：是由冰川挖蚀形成的坑洼和冰碛物堵塞冰川槽谷积水而成的湖泊。如新疆阜康天池，又称瑶池，相传是王母娘娘沐浴的地方。北美五大湖、芬兰、瑞典的许多湖泊等。
风成湖：沙漠中低于潜水面的丘间洼地，经其四周沙丘渗流汇集而成的湖泊，如敦煌附近的月牙湖，四周被沙山环绕，水面酷似一弯新月，湖水清澈如翡翠。
河成湖：由于河流摆动和改道而形成的湖泊。它又可分为三类：一是由于河流摆动，其天然堤堵塞支流而潴水成湖。如鄱阳湖、洞庭湖、江汉湖群（云梦泽一带）、太湖等。二是由于河流本身被外来泥沙壅塞，水流宣泄不畅，潴水成湖。如苏鲁边境的南四湖等。三是河流截湾取直后废弃的河段形成牛轭湖。如内蒙古的乌梁素海。
海成湖：由于泥沙沉积使得部分海湾与海洋分割而成，通常称作泻湖，如里海、杭州西湖、宁波的东钱湖。约在数千年以前，西湖还是一片浅海海湾，以后由于海潮和钱塘江挟带的泥沙不断在湾口附近沉积，使湾内海水与海洋完全分离，海水经逐渐淡化才形成今日的西湖。
潟湖：是一种因为海湾被沙洲所封闭而演变成的湖泊，所以一般都在海边。这些湖本来都是海湾，后来在海湾的出海口处由于泥沙沉积，使出海口形成了沙洲，继而将海湾与海洋分隔，因而成为湖泊。
“潟”这个字少见于现代汉语，是卤咸地之意，由于较常见于日语，不少人以为是和制汉字（Sinico-Japanese） ，其实不然。由于很多人不懂得“潟”这个字，所以经常都把它写错成为了“泻湖”。
1。具有防洪的功能：潟湖可宣泄区域排水，因而很少发生水灾。
2。保护海岸的功能：有于外有沙洲的阻挡可防止台风暴潮侵蚀冲刷海岸。
3。是天然的养殖场：潟湖是鱼、虾、贝和螃蟹的孕育场，也是邻近渔民的天然养殖场。
4。由于潟湖外侧往往有沙洲作为防波堤，其内风平浪静，因此有时可以改建为人工港
著名潟湖：七股潟湖、戈佐内海、科勒潟湖
按湖水所含盐度分为六类：
湖水含盐量是衡量湖泊类型的重要标志，通常把含盐量或矿化度达到或超过50g/1的湖水，称为卤水或者盐水，有的也叫矿化水。卤水的含盐量，已经接近或达到饱和状态，甚至出现了自析盐类矿物的结晶或者直接形成了盐类矿物的沉积。所以，把湖水含盐量50g/1作为划分盐湖或卤水湖的下限标准①。依据湖水含盐量或矿化度的多少，将湖泊划分为六种类型，各种类型湖泊的划分原则如下：
淡水湖：湖水矿化度小于或等于1g/1；
微（半）咸水湖：湖水矿化度大于1g/1，小于35g/1；
咸水湖：湖水矿化度大于或等于1g/1，小于50g/1；
盐湖或卤水湖：湖水矿化度等于或大于50g/1；
干盐湖：没有湖表卤水，而有湖表盐类沉积的湖泊，湖表往往形成坚硬的盐壳；
砂下湖：湖表面被砂或粘土粉砂覆盖的盐湖
7水位

按变化规律分为周期性和非周期性两种，周期性的年变化主要取决于湖水的补给。降水补给的湖泊，雨季水位最高，旱季最低；冰雪融水补给为主的高原湖泊，最高水位在夏季，最低在冬季；地下水补给的湖泊，水位变动一般不大。有些湖泊因受湖陆风、海潮、冻结和冰雪消融等影响产生周期性的日变化，非洲维多利亚湖因湖陆风作用，多年平均水位日间高于夜间9.9厘米。非周期性的变化往往是因风力、气压、暴雨等造成的。中国太湖在持续强劲的东北风作用下引起的增减水，在同一时段中，能使迎风岸水位上升 1.1米，背风岸水位下降0.75米。此外，由于地壳变动、湖口河床下切和灌溉发电等人类活动也可使水位发生较大变化。
8湖泊资源

湖水是全球水资源的重要组成部分，地球上湖泊 （包括淡水湖、咸水湖和盐湖）总面积约为2058700平方公里，总水量约 176400立方公里，其中淡水储量约占52%，约为全球淡水储量的0.26%。湖水可以不断更新，不同湖泊的更新期不一，湖水更换期的长短取决于其容积和入湖、出湖年径流量。中国鄱阳湖水更新一次仅9.6天，太湖水更新一次约299天。湖泊淡水储量的地区分布很不均匀，贝加尔湖、坦噶尼喀湖和苏必利尔湖等40个世界大湖储存的淡水量占全球湖泊淡水总量的 4/5。中国的鄱阳湖、洞庭湖、太湖、巢湖和洪泽湖的淡水总量约为553亿米。湖泊利于舟楫，是水路交通的重要组成部分。湖泊盛产鱼、虾、蟹、贝，生产莲、藕、菱、芡和芦苇等，是水产和轻工业原料的重要来源。湖泊作为旅游资源，正日益受到重视。湖泊资源的不合理开发会造成湖泊渔业资源衰减，湖泊面积缩小和湖泊周围土地的沼泽化等不良后果。
9著名湖泊

现状介绍

中国湖泊众多，共有湖泊24800多个，其中面积在1平方公里以上的天然湖泊就有2800多个。湖泊数量虽然很多，但在地区分布上很不均匀。总的来说，东部季风区，特别是长江中下游地区，分布着中国最大的淡水湖群；西部以青藏高原湖泊较为集中，多为内陆咸水湖。
外流区域的湖泊都与外流河相通，湖水能流进也能排出，含盐分少，称为淡水湖，也称排水湖。中国著名的淡水湖有鄱阳湖、洞庭湖、太湖、洪泽湖、巢湖等。
内流区域的湖泊大多为内流河的归宿，湖水只能流进，不能流出，又因蒸发旺盛，盐分较多形成咸水湖，也称非排水湖，如中国最大的湖泊青海湖以及海拔较高的纳木错湖等。
中国的湖泊按成因有河迹湖（如湖北境内长江沿岸的湖泊）、海迹湖（即睸湖，如西湖）、溶蚀湖（如云贵高原区石灰岩溶蚀所形成的湖泊）、冰蚀湖（如青藏高原区的一些湖泊）、构造湖（如青海湖、鄱阳湖、洞庭湖、滇池等）、火口湖（如长白山天池）、堰塞湖（如镜泊湖）等。</string>
	<key>冰雪</key>
<string>1、冰雪宿营的冻伤：冻伤一般发生在气温降到零下1度时。人体容易冻伤的部位一是体表裸露的皮肤，如手、鼻、耳、脸等；二是人体远离心脏的区域，如双脚，这主要是因为远离心脏的区域受血液循环的影响最小。

　　症状：首先会感到刺痛，接着皮肤会出现苍白的斑点，伴有麻木感。


而后就会出现卵石似的硬块，伴有疼痛、肿胀、发红、起疱，最后减弱、消失。

　　疗法：初步冻伤：将冻伤部位放到温暖的地方，如把手夹在腋下，或将脚抵在同伴的胃部，但切忌与同伴呆的时间过久。恢复时会产生疼痛感。

　　深度冻伤：发现后应及时防止伤势进一步恶化，最好的办法是将冻伤的部位放于约为28－28．5度左右的温水中慢慢恢复，但万不可用雪揉擦或用火烘烤。

　　严重冻伤：此时可能发生的症状是起水疱，不但很容易受到感染，也很容易转为溃烂。继而被冻伤的部位将逐渐变灰、变黑、坏死，最终剥落。这时候要尽快送往医院治疗，不要把水疱挑破，也不要摩擦伤处，伤处受热更会产生剧痛。

　　2、高山滑雪的雪盲：雪盲是指人眼长时间处于太阳光线强度过高，过于集中，并经过地面冰雪反射或经过云层中的冰晶反射的环境下，造成视力暂时消失的情况。

　　症状：起初是在瞪大眼睛时，眼睛感觉相当敏感，接着便是不住的眨眼，伴有斜视，之后视线里会显出粉红色，并逐渐加深，有磨痛感。

　　疗法：到黑暗的地方，蒙住双眼，把冰湿布置于额前，防止高温加剧疼痛。

　　3、求生信号 在发生危险后，你除了要安排好自己最基本的生存需求外，然后要做的就是发出需要别人帮助的求救信号了。它们的方法很多，在不同条件下当然各不相同，即使同样的环境下也有不一样的方式。总之，利用你身边一切可利用的事物去吸引别人的注意力，当人们发现你的那一刻，你就成功了。

　　如果你携带了无线电工具可以尽快发送求助信号。营救组期望早日了解你处的地点。知道灾难发生时所处的方位，以及风向，会对你有很大帮助。

　　往往你应该点火——三堆火堆是国际间共同认可的遇险求救信号。火堆应尽可能大而明显。摆放地面信号以吸引注意。当你看到在有效范围内有可能得到帮助时，使用烟火信号。

　　利用身边的石块、树木甚至衣物等一切可利用的物体，摆放出“SOS”国际间通用的求救信号。字体应摆放在空旷的地面上，也要尽可能的大而明显。

　　4、冬季旅行注意体温过低：体温过低指在低温的环境中，由于体乏脱力、穿衣过少、住所条件差、食物摄入不足或对低温缺乏知识和准备等原因，造成人体内部产生的热量小于身体散发的热量，导致体温降到正常值以下。

　　体温过低在任何低温环境中都有可能发生，严重时会导致死亡，一旦发生，应积极对待。

　　症状：起初行为烦躁，好动。

　　后来表现为嗜睡，反应迟钝，对于一些问题和指导不能应付。突然出现难以控制的颤栗，行动不协调，走路跌跌绊绊几致摔倒，头痛，视觉模糊，腹痛，瘫倒，昏迷，失去知觉。

　　疗法：防止身体热量进一步散发，置身室内，避风。脱去潮湿的衣服（不能脱光），每次脱一件外套，换上干衣。不要让病人躺于地上，采取保暖措施，如用身体或温热岩石暖和病人。

　　病人清醒时，让其饮用热饮料，食用含糖食品。

　　体温过低加重时，身体就无力再次自我加热，因此须从体内加热。可将热体放在以下部位：腰背部、胃窝、腋窝、后颈、腕部、裆部，这些部位血液接近体表，可以携带热量进入体内。不要服用酒精，这会使体表血管张开，体内的热量就会散失更快。</string>
	<key>艺术</key>
    <string>艺术欣赏的应该欣赏的是艺术品本身，因为萨特说的还是很有道理的，“艺术家应该完全引退到其作品之后，重要的是他的作品，而不是他.”艺术是一种很私人化的东西，私密性是艺术的根本属性，当一个人在欣赏一件艺术品时，他所得到的东西很大程度和作者没有关系，而仅仅是在他自己的认知领域里获得认识，每个个人都获得和其他人所不同的认识，甚至是和作者的意志所无关的认识。可以说，欣赏者欣赏的是他自己，而艺术品如同一面镜子，他只是借助这一外物在认识自己，因而，艺术的私密性这一特点可以说在作者和观者处都得以实现。所以，人在了解一件艺术品时，可以说就是在欣赏，了解其自身。艺术品，只是在引导欣赏者的这种认识的方向，不同的艺术给人不同的引导。
        　　关于作者，对于真正“有水平”的欣赏者来说，作者是一个完全不必要的概念，可以说对于整个自然来说，"造物主"就是作者，可是有谁诘问过造物主的身世？这样看来，天地万物都是艺术品，只不过当艺术品有了人的属性的时候，使得我们更加关注“作者”这一概念.作者的信息使得我们对于艺术品更加有了某种“偏颇”的认识，使得艺术品的引导性更强，譬如，若不了解梵高的身世和履历，可能很多人都不能为其作品所打动并感觉其伟大。
        　　艺术的公共性的问题和艺术的私密性之间是一对永恒的矛盾，但依马克思的说法-----矛盾是推动事物发展的基本动力。。。。。
        　　累死了，实不相瞒，本人是为了积累“财富值”才回答此问题，以上观点全为个人见解，你可以对其进行扩展，即可得论文一篇。公共性的问题把握住矛盾论，艺术不能没有公共性，否则对于人本身来说，就是艺术的消亡，具体讨论可以参看现代艺术发展史，即可得知从毕加索起，艺术最后如何和一个马桶或一泡大便挂钩的，艺术的概念是如何被随意化和消亡化，然而这一点和第一段不矛盾，这两者本身就是彼此对立依存的。</string>
	<key>沙滩</key>
<string>1、在海边游泳注意潮水时间。尽量不要在退潮时游泳，以免退潮时往回游时体力消耗过大发生意外，此外，不要在非游泳区游泳,水中感觉不适时，应尽快上岸休息，并适当控制水上活动时间。     2、吃海鲜时，可适量喝点白酒和米醋，以起到杀菌消毒的作用。吃海鲜后，1小时内不要食用冷饮、西瓜等食品。不要马上去游泳，游泳后也不宜立即食用冷饮、西瓜、海鲜等食品。          3、晕船者在上船前不要吃得太饱，也不要吃太油腻的食品，可预先吃2片防晕片控制晕情，晕船者上船后不要频繁走动，产生晕觉时，可身体平躺在床上，并在手腕及肚脐处各贴一块盼香膏，以起到防晕的作用。     4、游泳前要做好准备活动，以防抽筋。同时注意泳后马上用干巾擦去身上水垢，最好用淡水冲洗，滴上氯霉素或硼酸眼药水。

5、海边紫外线强，不要忘记涂抹防晒霜。一般在晒太阳前半小时涂抹，在身体外露的所有部位均涂上防晒品，尤其是颈背。     6、带创可贴以及胃药、治腹泻的常用药和清凉油。  注意事项    一、行车过程中:     1) 在行车过程中，请各位客人不要随意离开座位(特别是上高速的时候)，不要在车中间的走道上随意行 走(特别是小朋友);    2) A：空调的出风口不要对着头来吹，这样很容易导致晕车;    B：感觉车上空调太冷时，请不要将空调的出风口全部关闭，留一点缝隙，以作空气流通之用;    3)请客人不要用头、手或身体的任何一部分去拍打车窗或车上的任何设施;   4)请保持车厢清洁和卫生;    5)容易晕车的客人请尽量坐在车厢前面;    6)为了保证怀抱婴儿的安全，请家长将怀抱婴儿的坐姿保持与家长同向;     二、海滩旅游注意事项：     1)不吃不洁食物，吃海鲜时，可适量喝点自酒和米醋，以起到杀菌清毒的作用。    2)吃海鲜后，一小时内不要食用冷饮、西瓜等食品。不要马上去游泳，游泳后也不宜立即食用冷饮、西瓜、海鲜等食品。   3)晚上睡觉注意保暖，以免受凉引起腹泻。    4)晕船者在上船前不要吃得太饱，也不要吃太油腻的食品，可预先吃2
片防
晕片控制晕情，晕船者上船后不要频繁走动，产生晕觉时，可身体平躺在床上，并在手腕及肚脐处各贴一块盼香膏，以起到防晕的作用。    5)请随身带好防感冒、发烧、腹泻、皮肤过敏的物品，以便应急之用。   6)船上食品价格较高，游客可携带一些方便面、面包之类的食品在船上食用。   7)游泳前要预作准备活动，以防抽筋;游泳时要在规定的安全区域内活动，水中感觉不适时，应尽快上岸休息，并适当控制水上活动时间。    8)游泳时要保管好自己随身携带的物品。贵重物品不宜放人衣物箱内，应专项寄存或派人看管。   9)参加高速摩托艇、水上飞机、高速游轮活动的游客要听从该处工作人员的安排，并穿好救生衣，落实各项安全措施，切忌麻痹大意。    10)携带儿童的游客，参加水上活动时应照顾好自己的孩子，不要让他们独自活动。     三、外出旅游注意事项：     1)注意饮食安全   在夏季高温时节出游，游客要注意饮食安全，讲究饮食卫生，防止“病从口入” 及不科学的饮食习惯造成的身体不适或疾病。尤其是在海滨城市食用海鲜产品时，一定要挑干净新鲜的食用，防止发生食物中毒。    吃海鲜时和刚刚吃了海鲜后，不要饮用冰啤、冰水、冷水，不要吃过凉的食物，以防发生腹泻等疾病。   2)注意安全    包括人身安全和财产安全。人身安全是指个人的生命、健康、行动等不发生不法侵害;财产安全是指保护自身物品不受侵害、丢失;   3)遇恶劣天气远离危险地区    遇到雷雨、台风、热带风暴、泥石流、洪水、海啸等恶劣天气和自然灾害时，应远离危险地段或危险地区，切勿进入景区规定的禁区内。听从带团导游和旅行社的统一安排和调动，及时采取相关的防护措施，不私自随处参观游玩、脱离旅游团队。    4)海边游泳要在限定区域

到海滨地区参加游泳活动时，在与旅行社约定的区域内或景区限定的区域内游泳，最好结伴而行，有较强的自我保护意识，携带必要的保护救生用品，不私自下水，以防溺水事故发生。   5)要防“空调病”    夏季旅游要防“空调病”。室内外和车内外的空气温差不要太大，否则容易发生感冒或肠胃不适等症状。在高温高湿天气易发生中暑，心脑血管病人及老幼体弱者更应注意采取必要的预防措施。   6)防止财物被盗及人身伤害    提高安全意识，防止发生财物被盗失的情况及人身伤害。睡觉时，要锁好门窗，外出时，要将贵重物品随身携带，或保存在饭店的保险柜内，切忌将贵重物品留在房间内。</string>
<key>徒步</key>
<string>目前国内户外运动已经被越来越多的人所认可，越来越多的人选择它作为亲近大自然的最佳途径，徒步穿越登山，在各种户外运动中释放情怀及收获来自大自然的美妙体验。
　　但在最近的几次探险活动中发生了令人沉痛惋惜的事故，有几位驴友在事故中遇难，在哀悼他们的同时，不禁深深反省其中的教训，以下是转载老驴们总结的户外安全守则，希望大家能够认真学习，用之于实践中！
　 首先，选择正规的客运公司的车辆。做为出行交通工具。可免后顾之忧。
不要随意使用私车充当客运车辆做为出行的交通工具。如有万一，那可就是“沾小便宜吃大亏了。”
自驾，拼车、一定要选择驾驶经验丰富，安全意识强或熟悉路况的司机驾车。
1.不要跟随没有责任感及缺乏经验的领队出行。
　　2.不要参加新手超过1/3以上的登山队伍远征。
　　3.不要找没有责任感，并对户外活动计划了解不够的人担任留守。
　　4.行程计划需缜密完整，并让每位队员都彻底了解。
　　5.平时应多训练体能和技能，并阅读专业书籍杂志，随时吸收山野新知。
　　6.登山时应有完整必要的装备及充足的粮食和食水。
　　7.长距离和高难度的活动，出发前应先做健康检查，尤其是平时很少运动的人，更需认真检查。
　　8.从上山到下山，均需随时向留守人员或家人报告行踪。
　　9.活动前和进入活动区域后，应随时注意气象数据及变化。
　　10.对于每一座山峰，不管海拔高低和难度大小，均不可掉以轻心。
　　11.登山队伍不可拉得太长，应经常保持前后呼应的状况。
　　12.迷路时应折回原路，或寻找地势较高的安全处避难，减少体力的消耗，及时发出求救信息并静待救援。
　　13.切忌在无路的溪谷中溯溪攀登，亦不可在深山无明显路径时沿溪下降.因为高山溪流的地形由缓渐陡，对于登山技能不足，地势状况不清楚的登山者，容易失足跌落，因此登山时最好能沿途标示记号，或依循前人所留下的旗帜辨别方向。
　　14.勿让身体及衣物受潮，以免体温散失。
　　15.面临危机疲劳等压力时，维持体温是首要之任务，并应随时注意自己及队友的心理变化，设法维持情绪的平衡。
　　16.在户外活动时，切勿乱丢烟蒂，严格控制生火，离去时也应将营火彻底熄灭。
　　17.活动结束后及时做总结，有助于自己和他人将来户外运动时的安全，因此必须认真且确实地实行。
以上为借鉴了些老驴们的经验</string>
	<key>峡谷</key>
    <string>峡谷是深度大于宽度谷坡陡峻的谷地。V形谷的一种。一般发育在构造运动抬升和谷坡由坚硬岩石组成的地段。当地面隆起速度与下切作用协调时，易形成峡谷。中国长江的三峡，黄河干流的刘家峡、青铜峡等，是修建水库坝址的理想地段。峡谷由峭壁所围住的山谷，一般由河流长时间侵蚀而形成。许多人在印象中一直认为地球上最大的峡谷是位于美国亚利桑那州的大峡谷，不过1994年被证实中国的雅鲁藏布江大峡谷才是世界第一的大峡谷，其长度为504.9公里，平均深度达5000多公尺；太阳系里最大的峡谷是位于火星赤道上的水手号峡谷（Valles Marineris）。
    
2009年由《行游天下》杂志社、搜狐旅游等媒体及百万网友，选出了中国最美的十大峡谷。
峡谷
峡谷
长江三峡

长江三峡，中国10大风景名胜之一，中国40佳旅游景观之首。 长江三峡位于中国的腹地，属亚热带季风气候区，是瞿塘峡，巫峡和西陵峡三段峡谷的总称。它西起重庆市 奉节县的白帝城，东迄湖北省 宜昌市的南津关，跨奉节、巫山、巴东、秭归、宜昌五县市，长二百零四公里。也就是常说的“大三峡”。除此之外还有大宁河的“小三峡”和马渡河的“小小三峡”。 这里山势雄奇险峻，江流奔腾湍急，峡区礁滩接踵，夹岸峰插云天，是闻名遐迩的游览胜地。自古就有“瞿塘雄，巫峡秀，西陵险”的说法。长江三峡，地灵人杰。这里是中国古文化的发源地之一，著名的大溪文化，在历史的长河中闪耀着奇光异彩；这里，孕育了中国伟大的爱国诗人屈原和千古名女王昭君；青山碧水，曾留下李白、白居易、刘禹锡、范成大、欧阳修、苏轼、陆游等诗圣文豪的足迹，留下了许多千古传颂的诗章；大峡深谷，曾是三国古战场，是无数英雄豪杰驰骋用武之地；这里还有许多著名的名胜古迹，白帝城、黄陵庙、南津关……它们同这里的山水风光交相辉映，名扬四海。
雅鲁藏布江大峡谷

雅鲁藏布江大峡谷位于雅鲁藏布江下游南迦巴瓦峰，在这里形成世界上最为奇特的马蹄形大拐弯，不仅在地貌景观上异常奇特，而且成为世界上具有独特水汽通道作用的大峡谷，并造就了青藏高原东南部奇特的森林生态景观。它抱拥的山岭最高达海拔7782米，而最深处的谷地深达5000米，
令科罗拉多等世界其他峡谷望尘莫及。从高山冰雪带到热带雨林共有九个垂直自然带在这里分布，是世界山地垂直自然带最齐全完备的地方。
峡谷
峡谷
澜沧江梅里大峡谷

澜沧江大谷位于云南德钦县境内，北起佛山乡，南至燕门乡，长150公里，这里是云南省高差最大的地方。峡谷江面海拔2006米，左岸的梅里雪山卡瓦格博峰海拔6740米，右岸的白马雪山扎拉雀尼峰也高达5460米，峡谷的最大高差达4734米，从江面到顶峰的坡面距离为14公里。每kM平均上升337米，峡谷有一个近于垂直的坡面。 澜沧江由西藏入梅里峡谷后，江面束窄，水流湍急，无以为渡，历史上全靠竹篾溜索过江，因此江边有村庄得名“溜筒江”。虽如此险危之处，历史上人马财物坠江损失不计其数，但实为滇藏交通之咽喉，竟有“溜筒锁钥”之称。
金沙江虎跳峡

虎跳峡距离丽江纳西族自治县县城60公里，这条峡谷在金沙江上游，玉龙雪山]全长18公里，分上虎跳、中虎跳、下虎跳三段，迂迥道路25公里，东面为玉龙雪山，西面为迪庆的哈巴雪山，峡谷垂直高差3790米，是世界上最深的峡谷之一。江流最窄处，仅约30余米，相传猛虎下山，在江中的礁石上稍一脚，便可腾空越过，故称虎跳峡。峡内礁石林立，有险滩21处，高达10来米的跌坎7处，瀑布10条。 虎跳峡-来历 传说那时候丽江统治者－－木老爷富极一时，身边有不少能人才子。其中有一个特能算命。一天，替木老爷算算，据说木老爷生时大富大贵，但是死后却无棺材可用。木老爷大惊，从此在他所要经过的任何地方，每隔十里地就放置一口棺材以和命运作抗争。一天，天气极好，木老爷心情极佳，于是骑着自己的坐骑－－一头老虎，沿金沙江边走去。江水汹涌澎湃，江岸风景如画。人虎到了一个较狭窄地段，老虎纵身一跃，往江中间的一块大石头上跳去。老虎着落了，人却再也没有和虎同时着落，而是早已掉入了滚滚江水中。时间早已流逝，木老爷和他的老虎已早已不知何处去，但是却为后人留下了虎跳峡，虎跳石这些充满想象的名字。
天山库车大峡谷

天山库车大峡谷位于新疆库车县(古称龟兹)城北64千米，北纬42°8′，东经83°5′，天山南麓群山环抱中的天山神秘大峡谷，集人间峡谷之妙，兼天山奇景之长，蕴万古之灵气，融神、奇、险、雄、古、幽为一体。景异物奇，令人神往。2002年元月荣升为国家[AA级旅游名胜风景区。天山库车大峡谷属塔里木河支流的库车河谷，当地的维吾尔族人称之为“克孜利亚”，意为“红色的山崖”。大峡谷近似呈南北弧形走向，开口处稍弯向东南，末端微向东北弯曲，由主谷和七条支谷组成，全长5000多米，谷端至谷口处自然落差200米以上，谷底最宽53米，最窄处0.4米，仅容一人低头弯躯侧身通过。谷侧奇峰嶙峋，争相崛起；峰峦叠嶂，劈地摩天，崖奇石峭，磅礴神奇；神洞秘窟，各蕴其意。谷内蜿蜒曲折，峰回路转；步步有景，举目成趣；泉水叮咚，鸟叫蝉鸣，寒暑不浸，游人称绝。整个峡谷犹如一条尾震天山头，口饮库河流(开口于库车河)，曲身九十九的巨龙劈山而卧，呼风唤雨，神秘莫测。更令人称奇的是，距谷口1400米深处，高约35米的崖壁上，有一始建于盛唐时期，壁画丹青的千佛洞遗址，就文字记载和绘画艺术而言，在古西域地区至今已发现的300多座佛教石窟中绝无仅有，实属罕见。
峡谷
峡谷
巫山小三峡

巫山小三峡由龙门峡、巴雾峡、滴翠峡组成，全长50公里。她一池碧水，奇峰壁立，竹木葱茏，猿声阵阵，饶有野趣。巫山小三峡的特色是秀美、神奇。有人认为它有六奇，即山奇雄、水奇清、峰奇秀、滩奇险、景奇幽、石奇美，可称为“天下奇峡”。巫山小三峡林木翠竹幅员18000亩，与长江三峡风景区毗邻，是国家重点名胜风景区，1991年评为“中国旅游胜地四十佳”。
黄河晋陕大峡谷

黄河河源至内蒙古 托克托县河口镇的上游河段，以及中游下端的河津禹门口至桃花峪，虽也有诸如龙羊峡、积石峡、刘家峡、红山峡、青铜峡、三门峡等等著名峡谷，但它们都被一系列宽谷盆地分隔。唯有内蒙河口镇至山西禹门口，才构成了黄河干流上最长的连续峡谷—晋陕大峡谷，它长达725公里,沿线共有27个县市，面积达11.16万平方公里。在河套地区呈东西走向的黄河，此段急转为南北走向，
由鄂尔多斯高原挟势南下，左带吕梁，右襟陕北，深切于黄土高原之中，谷深皆在100米以上，谷底高程由1000米逐渐降至400以下，河床最窄处如壶口者，仅30至50米。
太行山大峡谷

太行山位于河北省与山西省交界地区，向南延伸至河南与山西交界地区。山脉北起北京市西山，南至濒临黄河的王屋山，呈东北--西南走向，绵延数百公里。它是中国地形第二阶梯的东缘，也是黄土高原的东部界线。太行山脉的的地质基底是复式单斜褶皱。东侧为断层构造，相对高差达1500~2000米，山前发育典型的洪积扇以及冲洪积平原。从北向南有小五台山（海拔2882米）、太白山、白石山、狼牙山南坨山，阳曲山、王屋山等山峰。山西高原东部河流多切过太行山进入河北平原，汇入河水系。只有西南部的沁河水系向南汇入黄河。 太行山是中国东部的一条重要地理界线。
峡谷
峡谷
金丝大峡谷

金丝大峡谷风光 金丝大峡谷国家森林公园的峡谷景观奇特俊秀。园内有白龙峡、黑龙峡、青龙峡和石燕寨四大景区一百多个景点，峡谷总长度20.5公里，纵深10多公里，最深处至今还无法到达。白龙门、月芽峡、一线天；山连山，峡连峡，九曲十八弯，千曲百折，曲径如走蛇。特别是青龙门和黑龙门，宽不盈米，抬头不见天，白天行走如同黑夜。峡谷两侧岩壁层层叠叠，垂直高度近600米，寸草不生，阴森可怖。最高处海拔达3058米，为华北最高峰。她的五座主峰东台望海峰、南台锦绣峰、西台挂月峰、北台叶斗峰、中台翠岩峰以其景观优美状如平台的独特景象驰名中外。壮丽神秘五台山国家森林公园内层峦叠嶂，绿树挺拔，溪水纵横，随处皆有奇峰、怪石、峭崖、秀洞、清泉、碧池、苍松、翠柏。这里动植物资源极为丰富，有令人叹绝的奇花异草，有疗疾医顽的天然药石，红花绿草随处可见，奇禽异兽时常出没。
大渡河大峡谷

大渡河金口大峡谷大渡河金口大峡谷全长约26公里，整个峡谷地跨四川省雅安市汉源县、凉山州甘洛县、乐山市金口河区。无论从峡谷上端还是下端进入，虽然两岸本已是山峦起伏，但逼近峡口时，却明显有一种异样的气势。在峡谷上口左岸，有一个突出的崖台—苏古坪，在峡口形成一个天然的石门，使峡谷至此骤然收窄，远望峡口内的云雾与峭壁，更显得深邃莫测；在峡谷下口的大沙坝附近，正当大渡河的陡然转弯处，眺望峡口，高差达一千多米的悬崖与尖峭的山峰迎面耸立，似乎河谷中断、江流无路，令人森然。
    </string>
	<key>雪山</key>
<string>雪山探险是很多人对自身的挑战，有一些人追求挑战极限，喜欢问鼎高峰，因此，即使是前方风险重重，也不能阻挡他们爬雪山的热情！
不过，由于雪山的特殊性，高山险峻中，雪崩风险较大，爬雪山前一定要事先做好充足的专业准备。
1 准备工作：技朮训练、体能计划、装备等，还要对攀登对象的地理、气候状况有充分的了解，同时有良好的生理、心理素质。
2 最好参加专业合格的登山队，有教练、后勤、前峰、队员等组成，有经验、有实力的队员，应该在最前面和最后面，负责照顾其他队员，将危险降到最低。
3 如果你必须在高山、中山的积雪地带活动，那就应该特别注意，不要人为地触发雪崩。
4 降雪以后，不能立即爬坡登山。一般来说，中等强度的降雪，必须过一天之后，才能去登山爬坡。下大雪之后，特别是连续数天高强度的大雪之后，必须停留三、四天，才可在积雪上攀登。
5 攀登积雪山坡时，不要横穿斜坡。最好径直向山顶方向前进。
6 若因需要，必须横穿雪坡时，每人的间隔要远一些，一个一个地前进。每人必须保持高度警惕，一旦有谁发现积雪断裂滑动有崩塌的危险时，就要大声喊叫“雪崩!”
7 可以采用“之”字形的攀登路线，但“之”字的角度应尽可能放大。行走时，脚步要轻，要稳，不要另开脚印，要踏着前面人的脚印走。
8 在积雪显得较不稳定时，不要尖声叫喊，也不要大声歌唱。因为有时侯，声波也能冲击积雪，引起崩塌。
9 若发现脚下的积雪已在滑动，首先要把冰镐插在积雪上，尽可能使自己停在积雪面上。
爬山是强健身体的好事情，雪上上更是有风景，有挑战。挑战与风险并存。去爬雪山的朋友们一定要观测好天气、地理等状况，保证爬山的安全性。</string>
	<key>游轮</key>
    <string>1、了解您的客房在船上的位置,请您仔细阅读在房门背后的紧急疏散示意图。
2、了解客房救生衣存放的位置,熟悉穿戴程序和步骤。
3、熟悉日程活动内容,根据您的兴趣选择您自己愿意参加的活动,对您的三峡旅游有一个大致安排。
4、认识您的导游。
5、知道您在餐厅的座位,座位通常是固定的。
6、了船上娱乐的活动和服务设施的区位。
7、存放您的贵重物品,如护照等。
8、整理要清洗的衣服。
9、熟悉游船服务电话号码。
10、兑换适量的零花钱船上消费先签单,然后离船前统一结帐。同时要加收15%的服务费。信用卡和现金支付均可。
2、关于小费
中国国家旅游局禁止旅游服务人员向客人索取小费,但小费已经成为旅游服务人员重要的收入之一。通常服务员的工资不是很高,30-70美元/月,能收到小费是非常受欢迎的,但任何导游、服务人员以未收小费为由不提供服务或故意刁难,暗示索要小费,您都可以给予拒绝,并对其投诉,影响旅行并有损失的可以要求赔偿。
一般情况下行李生、客房服务生、全程服务的导游都应该支付一定的小费,以表示对其工作的认可。
总服务台有公共的小费箱,一般情况下您可以按照每人每天5美元投进小费箱,这些小费将会被全船服务人员分享；你也可以单独支付小费给个别的服务人员,他们一定会乐于接受,因为这是对他们优质服务的肯定。
3、卫生和预防
出发前最好带上平时经常用的感冒和消化系统常用药物。不要随便购买小摊上的食品、水果和矿泉水。夏天上岸参观一定要带船上购买的矿泉水和纸巾,带上少量的人民币,最好是十元币种,数额在100-500元之间,以备上岸参观的零星花费,如缆车、冷品、特殊参观门票、支付小费等。
贵重物品不要随身携带,最好存放在游船提供的双开启的保险柜里,这项服务在船上是免费的,存放时别忘了填写登记表格和船方签字。这样外出参观不必随时小心和留意自己携带的贵重物品,多了几分轻松和自在。
中国现在已消灭了骨髓灰质炎、疟疾、伤寒、霍乱等传染病,即使是在长江沿线比较落后的农村也见不到这些病例。但消化系统的疾病,如肝炎等,在人群中还有一定的感染率。所以饮水、食品卫生非常重要,请千万不要使用不洁饮水器皿,要饮用开水和船上提供的矿泉水。如果身体有什么不适要尽早预防和看医生。长江游船上有小诊所和随船医生,随时为您服务,收费也是比较低的,有的游船只收药费不收出诊费。
4、关于吸烟
根据中国法律规定公共活动区域不能吸烟,请到甲板上吸烟。如果游轮设有单独的吸烟室,您可在游轮固定吸烟室吸烟。
5、游船上的额外费用
这里所说的“额外费用”是指在船上您用于自己私人目的的各种费用。
尽管一般游船的船票包括了上岸费和餐费,但并不包括您乘船期间的个人消费费用,如酒水、洗衣、理发、美发、健身、按摩、娱乐等有关费用,这些服务项目的收费标准大致如下(本收费标准以五星级的长江天使轮游船为例)：
洗衣 1-8美元/件
理发 男宾10-50美元 女宾10-70美元
按摩 15-20美元/小时
酒水 20-100美元/天
小费 3-5美元/天(上岸增加1至2美元)
所有服务收费项目另加收10%左右的服务费。
目前长江每个客人总的消费情况大致如下：
四-五星级平均每天150-200美元。三星级平均每天120-150美元,二星级平均每天100美元以下。与海外大型游轮、尼罗河游船、欧洲内河游船消费情况相比,长江游船就同一服务水准来讲,收取的费用显然是比较低的,也是较合理的。
6、携带宠物
长江游船一般不准携带宠物,也不提供有关的服务。如果您要到长江来旅游,请首先把您的宠物托人照管好。
7、照相和摄像
长江三峡的风光是美丽和雄伟的,您不仅要把美丽的风光留在您的脑海,还需要把它们记录到你给你的胶片和录影带中。所以您需要要携带足够胶卷、电池和录影带。照相机最好是小型全自动的,方便操作携带,最好还有防水装置。
8、购物
船上均设有购物店,您可以买到常用的生活用品和食品。但其出售的商品种类不够丰富,所以您最好在上船前备妥所需物品。
长江三峡沿线的旅游景点均有大量的商店,出售各种工艺品和旅游纪念品。购买时是可以讨价还价的,特别是比较贵重的商品,讨偿还价的余地比较大。讨价需要技巧,开价不能过高。通常客人开价后,店主愿意出售时,不要再降价,店主会认为您不是真心要买,不要引起不必要的麻烦。
在购买下列物品时要千万留心,您如果不是这方面的专家,不要轻意出手。
1、翡翠、玉石；
2、古币；
3、字画和仿古字画；
4、古化石；
5、手工织维编织品；
6、用古楠木或红木做的漆木器；
7、仿古青铜器。
9、不要介意以下情况
1、年轻的女服务不敢双目正视与您交谈,这并不是不礼貌,而是中国传统习俗所致。
2、当您生病或遇到其它麻烦时,会有很多热心的人来关心您,这并不意味着要付小费。
3、长江游船通常在每个房间里安放有强行播音系统,主要是为了安全和方便客人准时参加活动。
4、中国餐饮传统已经发生变化,用餐时最好尽量享用,不必留有剩余以示客气。</string>
	<key>古堡</key>
<string>古堡，作为欧洲历史的一个符号，和教堂差不多一样的坚固与古老，沉寂在现代喧嚣之中。也许，它没有教堂那样的华丽，却比教堂更神秘。总会有一些异乎寻常的故事，比方战争、复仇、凶杀、恐怖、浪漫或绝望的爱情绝唱，以城堡为背景。
城堡最原始的用途并不是享受，而是为了抵御外来侵略的防御工事，因此，欧洲的城堡大都建在山崖或是河边。而今，历史的影子已经无处可寻，当人们坐在船上向两岸的古堡眺望时，早已忘却了远古的硝烟和厮杀声。
在欧洲，密布着无数城堡，据说，仅在德国境内就有两万多座古城堡，平均每16平方公里就有一座。位于德国东部的包参市、齐陶市和格尔利茨市等被誉为德国保护最完好的古老城市。齐陶市的城中则耸立着十多座造型独特的古堡。最著名的是这座建于13至14世纪，建筑在岩崖峭壁之上的奥宾古堡。金色城墙见证了整个历史。
早期城堡的类型被称作「土堆与板筑」。土堆是以泥土筑成的土堤，具有一定阔度和高度，一般有五十

英尺高。土堆上面可以建筑大型的木制箭塔，土堆下面以木板围起，称为板筑，用来防护□仓、家畜围栏和用来居住的小屋。土堆与板筑就像一个小岛，被挖掘出来并注满水的壕沟所围绕，由一道桥梁和狭小陡峭的小径来互相连接。在危险的时候，如果守不着板筑的话，防卫的武力会撤退到箭塔里面。
在公元十一世纪，开始以石头代替泥土和木材来建筑城堡。建设在土堤上面的木制箭塔，改由大块的石头建造，这种防御工事被称为空壳要塞，后来发展为箭塔或要塞。一堵石墙会包围旧的板筑和要塞，并改由壕沟或护城河所环绕，另外再设置吊桥和闸门来防护城堡唯一的城门。最著名的基本要塞型城堡，是由征服者威廉所建造的伦敦塔。它最初是一幢方形的建筑，并被涂成白色以吸引注意，后来的国王们就以今天所看到的城墙和改良后的建筑来加强它的规模。
十字军东征后，带回新的防御技术和攻城工程师，使城堡的设计得到改进。同心的城堡从中心点扩展，由两堵或更多的环形城墙所包围。最初以方形的箭塔来加强城墙的防御力，后来则改为圆形的箭塔。因为方形箭塔的角落会很容易受到夹击，使整个箭塔极易受创，而圆形的箭塔则更具有抵抗力。在城墙和箭塔的顶端可加设更多的战备，让它们更具有向下攻击的能力。
虽然火炮出现于十四世纪初期的欧洲，但是直到十五世纪中期以前，并没有使用到有战力的攻城大炮。随着火炮的威力提升，人们也开始改变城堡的设计做为回应。以往高危险陡的城墙被低矮倾斜的城墙所代替。到了十五世纪中期，由于王权的扩张，城堡开始出现衰落。十一世纪时，征服者威廉宣称拥有英国所有的城堡，并从贵族的手上把它们收回。到了十三世纪，城堡的建造或强化必须得到国王的同意。其目的就是为了废除城堡，让它们不能作为叛乱的依靠。
城堡被废置，有四分之一仍然为贵族所保存，其他则沦为废墟。由于财富的生产从农村转到城市，防御设施强化的城镇反而变得更为重要。
城堡的建造，可以花费不到一年便能完成，也可能耗上二十年的时间。数个世纪以来，建造城堡是一门重要的工业，出名的石匠大师受到殷切需求，而结群成伙的城堡建造者会从一个地方换到另一个地方工作。城镇希望雇用熟练的工人来建造大教堂，而领主也希望雇用他们来建造城堡。
在北威尔斯的鲍玛利斯城堡，自1295年开始建造。它的设计对称的，没有弱点。建造时的顶盛时期，需要三十个铁匠、四百个石匠和二千个工人。工人们多是从事开凿、搬运、起吊、发掘和分裂石头。这个设计严格的城堡一直未能完成。而康威尔的大城堡，则由英国的爱德华一世在威尔斯，花了四十个月来建造。
城堡的城墙是石造建筑，石墙内部以碎石和燧石来填充，这些碎石和燧石由臼研机来混合。城墙的阔度一般由六到十六英尺不等。
    </string>
    
</dict>
</plist>
