<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>带盖小餐盒/小勺</string>
        <string>保温小水壶</string>
        <string>剃须刀/指甲钳</string>
        <string>餐巾/湿巾/手帕</string>
        <string>面膜</string>
        <string>唇膏</string>
        <string>护肤露</string>
        <string>洗面奶</string>
        <string>洁肤水</string>
        <string>精华素</string>
        <string>面霜</string>
        <string>防晒霜</string>
        <string>化妆棉</string>
        <string>梳子</string>
        <string>化妆用品</string>
        <string>牙膏牙刷洗发精</string>
        <string>中国驾照和公证书（如需租车）</string>
        <string>机票/酒店预订单/租车确认单</string>
        <string>现金（美元/欧元/人民币/港币）</string>
        <string>护照/护照复印件</string>
        <string>银行卡/信用卡</string>
        <string>小保温壶</string>
        <string>能量棒</string>
        <string>防晒霜/医用胶带</string>
        <string>小刀/开葡萄酒工具</string>
        <string>小袋洗衣粉</string>
        <string>卫生巾/护垫</string>
        <string>创可贴</string>
        <string>感冒</string>
        <string>螺旋藻</string>
        <string>维生素</string>
        <string>止疼药</string>
        <string>胃药</string>
        <string>拉肚</string>
        <string>丝巾</string>
        <string>围脖</string>
        <string>帽子</string>
        <string>皮带</string>
        <string>太阳镜</string>
        <string>手表</string>
        <string>配饰</string>
        <string>旅游鞋</string>
        <string>休闲鞋</string>
        <string>T恤/休闲长</string>
        <string>羽绒服</string>
        <string>外套</string>
        <string>雨衣</string>
        <string>抓绒衣</string>
        <string>短衣裤</string>
        <string>内衣</string>
        <string>泳衣</string>
        <string>袜子</string>
        <string>睡衣</string>
        <string>导航仪</string>
        <string>支架</string>
        <string>电源转换插头</string>
        <string>笔记本电脑</string>
        <string>手机</string>
        <string>备用电池</string>
        <string>手机充电器</string>
        <string>连接线</string>
        <string>Ipad</string>
        <string>充电器</string>
        <string>相机</string>
        <string>转换卡</string>
        <string>存储卡</string>
        <string>相机充电器</string>
        <string>塑料袋</string>
        <string>充气枕</string>
        <string>地图/攻略/书籍/杂志/本/笔/</string>
        <string>茶叶/咖啡/方便面/榨菜</string>
        <string>零食/口香糖</string>
        <string>雨伞</string>
    </array>
</plist>