<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>女士上装</key>
	<array>
		<string>T恤</string>
		<string>女士冲锋衣</string>
		<string>衬衫</string>
		<string>短外套</string>
		<string>针织衫</string>
		<string>雪纺衫/蕾丝衫</string>
		<string>羊绒衫</string>
		<string>风衣</string>
		<string>卫衣</string>
		<string>棉衣</string>
		<string>羽绒服</string>
		<string>针织开衫</string>
		<string>小西装</string>
		<string>毛呢外套</string>
		<string>真皮皮衣</string>
		<string>比基尼</string>
	</array>
	<key>女士裤子</key>
	<array>
		<string>牛仔裤</string>
		<string>小脚/铅笔裤 </string>
		<string>休闲裤</string>
		<string>打底裤</string>
		<string>哈伦裤</string>
		<string>短裤/热裤</string>
		<string>棉麻裤</string>
		<string>七/九分裤</string>
		<string>西装/正装裤</string>
		<string>阔腿裤</string>
		<string>高腰裤</string>
		<string>连体裤</string>
	</array>
	<key>女士裙子</key>
	<array>
		<string>连衣裙</string>
		<string>半身裙</string>
		<string>长袖连衣裙</string>
		<string>中长款连衣裙</string>
		<string>短袖连衣裙</string>
		<string>雪纺裙</string>
		<string>中长款半身裙</string>
		<string>牛仔连衣裙</string>
		<string>牛仔半身裙</string>
		<string>快干裤</string>
	</array>
	<key>男士上装</key>
	<array>
		<string>夹克</string>
		<string>男士冲锋衣</string>
		<string>T恤</string>
		<string>衬衫</string>
		<string>羽绒服</string>
		<string>西服</string>
		<string>棉衣</string>
		<string>针织衫</string>
		<string>毛衣</string>
		<string>呢大衣</string>
		<string>马甲</string>
		<string>皮夹克</string>
		<string>潜水衣</string>
	</array>
	<key>男士裤子</key>
	<array>
		<string>牛仔裤</string>
		<string>休闲裤</string>
		<string>西裤</string>
		<string>工装裤</string>
		<string>哈伦裤</string>
		<string>棉裤</string>
		<string>羽绒裤</string>
		<string>皮裤</string>
		<string>沙滩裤</string>
		<string>快干裤</string>
		<string>游泳裤</string>
	</array>
	<key>鞋</key>
	<array>
		<string>跑步鞋</string>
		<string>休闲鞋</string>
		<string>帆布鞋</string>
		<string>足球鞋</string>
		<string>篮球鞋</string>
		<string>网球鞋</string>
		<string>羽毛球鞋</string>
		<string>人字拖</string>
		<string>凉鞋</string>
		<string>沙滩鞋</string>
		<string>皮鞋</string>
		<string>休闲皮鞋</string>
		<string>雨靴</string>
		<string>罗马鞋</string>
		<string>靴子</string>
		<string>高跟鞋</string>
		<string>凉拖鞋</string>
		<string>拖鞋</string>
		<string>鱼嘴鞋</string>
	</array>
	<key>包</key>
	<array>
		<string>旅行箱</string>
		<string>登机箱</string>
		<string>旅行包</string>
		<string>双肩包</string>
		<string>拉杆包</string>
		<string>卡套卡包</string>
		<string>零钱包</string>
		<string>卡片包</string>
		<string>钥匙包</string>
		<string>腰包</string>
		<string>商务双肩包</string>
		<string>甜美双肩包</string>
	</array>
	<key>内衣</key>
	<array>
		<string>女式保暖内衣</string>
		<string>女士睡衣</string>
		<string>棉质睡衣</string>
		<string>保暖套装</string>
		<string>聚拢文胸</string>
		<string>女三角裤</string>
		<string>男平角裤</string>
		<string>男士睡衣</string>
		<string>女袜</string>
		<string>棉质内衣套装</string>
		<string>文胸</string>
		<string>调整型文胸</string>
		<string>丝袜</string>
		<string>睡衣套装</string>
		<string>男士保暖内衣</string>
		<string>男袜</string>
	</array>
	<key>饰品</key>
	<array>
		<string>手表</string>
		<string>项链</string>
		<string>手链</string>
		<string>发饰</string>
		<string>耳饰</string>
		<string>戒指/指环</string>
		<string>手镯</string>
		<string>项坠/吊坠</string>
		<string>胸针</string>
		<string>摆件</string>
		<string>脚链</string>
	</array>
	<key>户外</key>
	<array>
		<string>钓鱼用品</string>
		<string>户外服装</string>
		<string>户外鞋</string>
		<string>刀具工具</string>
		<string>户外照明</string>
		<string>户外手表</string>
		<string>户外帐篷</string>
		<string>望远镜</string>
		<string>冲锋衣裤/套装</string>
		<string>野炊用品</string>
		<string>登山/徒步鞋</string>
		<string>帽子/头套</string>
		<string>户外眼镜</string>
		<string>户外水具</string>
		<string>船只舰艇</string>
		<string>睡袋</string>
	</array>
	<key>数码</key>
	<array>
		<string>手机</string>
		<string>相机</string>
		<string>镜头</string>
		<string>摄像机</string>
		<string>手机充电器</string>
		<string>充电宝</string>
		<string>游戏机</string>
		<string>电子书</string>
		<string>平板电脑</string>
		<string>笔记本电脑</string>
		<string>电脑充电器</string>
		<string>防水套</string>
		<string>电筒</string>
		<string>剃须刀</string>
		<string>各种转换线</string>
		<string>充电转换器</string>
		<string>耳机</string>
		<string>三脚架</string>
		<string>相机包</string>
		<string>存储卡</string>
		<string>读卡器</string>
	</array>
	<key>护肤护发</key>
	<array>
		<string>洗发水</string>
		<string>护发素</string>
		<string>发膜/倒膜</string>
		<string>免洗护发素</string>
		<string>洗发护发套装</string>
		<string>身体护理</string>
		<string>乳液/面霜</string>
		<string>面部护理套装</string>
		<string>面膜</string>
		<string>手部保养</string>
		<string>化妆水/爽肤水</string>
		<string>面部精华</string>
		<string>唇部护理</string>
		<string>精油芳疗</string>
		<string>卸妆</string>
		<string>防晒</string>
		<string>男士护理</string>
		<string>洁面</string>
		<string>眼部护理</string>
		<string>胸部护理</string>
		<string>面部磨砂/去角质</string>
		<string>弹力素</string>
		<string>染发膏</string>
		<string>蓬松喷雾</string>
		<string>其它美发护发产品</string>
		<string>刘海片</string>
		<string>发泥/发蜡</string>
		<string>整顶假发</string>
	</array>
	<key>彩妆</key>
	<array>
		<string>香水</string>
		<string>BB霜</string>
		<string>化妆/美容工具</string>
		<string>唇膏/口红</string>
		<string>睫毛膏/睫毛增长液</string>
		<string>粉饼</string>
		<string>指甲油/美甲产品</string>
		<string>彩妆套装/彩妆盘</string>
		<string>眼线</string>
		<string>唇彩/唇蜜</string>
		<string>粉底液/膏</string>
		<string>隔离/妆前/打底</string>
		<string>眼影</string>
		<string>眉笔/眉粉/眉饼</string>
		<string>腮红/胭脂</string>
		<string>修颜/高光/阴影粉</string>
	</array>
	<key>母婴</key>
	<array>
		<string>奶粉</string>
		<string>尿不湿</string>
		<string>婴儿床</string>
		<string>背带</string>
		<string>餐具/水杯/研磨</string>
		<string>儿童套装</string>
		<string>婴儿玩具</string>
		<string>暖奶器</string>
	</array>
	<key>休闲零食</key>
	<array>
		<string>巧克力</string>
		<string>饼干/糕点/膨化小食</string>
		<string>蜜饯/枣类/梅/果脯</string>
		<string>山核桃/坚果/炒货</string>
		<string>肉干/肉脯/豆干/肉类</string>
		<string>鱿鱼/鱼干/海味即食</string>
		<string>糖果/果冻/布丁</string>
		<string>糕点/点心</string>
		<string>奶酪/乳品</string>
		<string>方便面</string>
		<string>茶叶</string>
		<string>咖啡</string>
		<string>火腿肠</string>
		<string>水果</string>
	</array>
	<key>娱乐休闲</key>
	<array>
		<string>书</string>
		<string>杂志</string>
		<string>游戏机</string>
		<string>随声听</string>
		<string>扑克牌</string>
		<string>麻将</string>
		<string>三国杀</string>
		<string>纸牌</string>
	</array>
	<key>文件</key>
	<array>
		<string>机票及复印件</string>
		<string>护照签证及复印件</string>
		<string>行程单</string>
		<string>酒店预订单及复印件</string>
		<string>邀请函及复印件</string>
		<string>保险单及复印件</string>
		<string>车票及复印件</string>
		<string>驾照及复印件</string>
		<string>学生证及复印件</string>
		<string>老年证及复印件</string>
		<string>青旅会员卡</string>
		<string>2存照片</string>
		<string>紧急联系人信息</string>
	</array>
	<key>资金</key>
	<array>
		<string>现金</string>
		<string>信用卡</string>
		<string>银联卡</string>
	</array>
	<key>医疗</key>
	<array>
		<string>止痛药</string>
		<string>感冒药</string>
		<string>止泻药</string>
		<string>通便药</string>
		<string>晕车药</string>
		<string>维生素</string>
		<string>消炎药</string>
		<string>跌打损伤药</string>
		<string>创可贴</string>
		<string>驱蚊药片</string>
		<string>避孕套</string>
		<string>速效救心丸</string>
		<string>胃药</string>
	</array>
	<key>杂项</key>
	<array>
		<string>潜水镜</string>
		<string>呼吸管</string>
		<string>脚蹼</string>
		<string>浮潜鞋</string>
		<string>潜水衣</string>
		<string>地图</string>
		<string>旅行指南</string>
		<string>充气枕</string>
		<string>眼罩</string>
		<string>瑞士军刀</string>
		<string>笔记本</string>
		<string>笔</string>
		<string>密码锁</string>
		<string>雨伞</string>
		<string>雨衣</string>
		<string>望远镜</string>
		<string>水壶</string>
		<string>卫生纸</string>
		<string>湿纸巾</string>
		<string>洗手液</string>
		<string>小礼品</string>
		<string>打火机</string>
		<string>香烟</string>
		<string>睡袋</string>
		<string>绳子</string>
	</array>
	<key>备忘</key>
	<array>
		<string>检查手机漫游状态</string>
		<string>给家人报平安</string>
		<string>兑换当地货币</string>
		<string>去本地游客问讯处</string>
		<string>给朋友寄明信片</string>
		<string>与当地人聊天</string>
		<string>确认回程机票</string>
		<string>退税</string>
		<string>购买特产给朋友</string>
		<string>确认手机移动数据</string>
	</array>
	<key>行前确认</key>
	<array>
		<string>网上查阅相关资料</string>
		<string>购买票</string>
		<string>顶酒店</string>
		<string>买保险</string>
		<string>办签证</string>
		<string>换钱</string>
		<string>打疫苗</string>
		<string>结算账单</string>
		<string>手机充电</string>
		<string>确认护照尾页签名</string>
		<string>手机下载目的地地图</string>
		<string>手机安装翻译软件</string>
		<string>设置电子邮件自动回复</string>
		<string>修改qq签名</string>
		<string>给家人行程单</string>
		<string>锁好贵重物品</string>
		<string>安置宠物植物</string>
		<string>关闭水电煤气</string>
		<string>倒垃圾</string>
		<string>锁门</string>
	</array>
</dict>
</plist>
