<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>商务</string>
	<string>购物</string>
	<string>公路</string>
	<string>城市</string>
	<string>高铁</string>
	<string>飞行</string>
	<string>乡村</string>
	<string>文化</string>
	<string>自行车</string>
	<string>山峦</string>
	<string>建筑</string>
	<string>湖泊</string>
	<string>冰雪</string>
	<string>艺术</string>
	<string>沙滩</string>
	<string>徒步</string>
	<string>峡谷</string>
	<string>雪山</string>
	<string>游轮</string>
	<string>古堡</string>
</array>
</plist>
